{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
	{{ eveniment }} <span style = "font-weight: normal">| asociază structură</span>
{% endblock %}

{% block context_menu %}
	{% include "album/eveniment_context_menu.html" %}
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% url "goodies:js_delete" app_label='album' model='AsociereEvenimentStructura' %}"></script>
	<script type = "text/javascript">
		function after_update_content_objects(data) {
			values_html = "";
			for (var i = 0; i < data.objects.length; i++) {
				values_html += "<option ";
				if (("{{ object_id }}" != "") && (data.objects[i][0] == "{{ object_id }}")) {
					values_html += "selected = 'selected'"
				}
				values_html += " value = '" + data.objects[i][0] + "'>" + data.objects[i][1] + "</option>";
			}
			
			$("#id_object_id").html(values_html);
			$("#div_id_object_id").show("fast");
			
			tip_asocieri_html = "";
			for (i = 0; i < data.types.length; i++) {
				tip_asocieri_html += "<option ";
				if (("{{ tip_asociere }}" != "") && (data.types[i][0] == "{{ tip_asociere }}")) {
					tip_asocieri_html += "selected = 'selected'"
				}
				tip_asocieri_html += "value = '" + data.types[i][0] + "'>" + data.types[i][1] + "</option>";
				
			}
			
			$("#id_tip_asociere").html(tip_asocieri_html);
			$("#div_id_tip_asociere").show("fast");
		}
	
		jQuery(document).ready(function () {
			$("#div_id_object_id").hide();

			$("#id_content_type").change(function () {
				if ($(this).val() == "") {
					$("#div_id_object_id").hide("fast");
					$("#id_object_id").val("");
				} else {
                    $.post("{% url "structuri:update_content_objects" %}", {"ctype_id" : $(this).val()}, after_update_content_objects);
				}
			});
			
			if ($("#id_content_type").val() != "") {
                $.post("{% url "structuri:update_content_objects" %}", {"ctype_id" : $("#id_content_type").val()}, after_update_content_objects);
			}
		});
	</script>

{% endblock %}

{% block content %}
    <h2>Asocieri curente</h2>
        <table class = "table table-striped">
        <tr>
            <th>Structură</th>
            <th>&nbsp;</th>
        </tr>
        {% for a in eveniment.asocieri_structura.all %}
        <tr>
            <td><a href = "{{ a.content_object.get_absolute_url }}">{{ a.content_object }}</a></td>
            <td><a href = "#" id="delete_{{ a.id }}" class = "btn btn-mini pull-right delete"><i class = "icon-trash"></i></a></td>
        </tr>
        {% empty %}
            <tr>
            <td colspan="2">
                <em>Evenimentul nu are asocieri</em>
            </td>
            </tr>
        {% endfor %}
    </table>

    <h2>Adaugă</h2>
	{% crispy form form.helper %}


{% endblock %}
