{% extends 'base.html' %}
{% load jocuri_utils %}
{% load django_markdown %}
{% load jocuri_utils %}
{% load static %}

{% block page_title %}
	{{ object }} | <span style = "font-weight: normal">Joc / Activitate</span>
{% endblock %}

{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Acțiuni</li>
		<li><a href = "{% url jocuri:activitate_create %}"><i class = "icon-plus-sign"></i> Adaugă</a></li>
        <li><a href = "{% url jocuri:activitate_edit pk=object.id %}"><i class = "icon-pencil"></i> Editează</a></li>


        <li class = 'nav-header'>Locații</li>
        <li><a href = "{% url jocuri:activitate_search %}"><i class="icon-search"></i> Căutare</a></li>

	</ul>
{% endblock %}


{% block content %}
    <div class = "row-fluid">
        <div class = "span8">
            {{ object.descriere_joc|markdown }}
        </div>
        <div class = "span4">
            <h3>Sumar</h3>
            <ul class = "unstyled">
                <li>{{ object|numar_participanti_string }} participanți</li>
                <li>{{ object|durata_string }}</li>
                <li>{% for rdv in object.ramuri_de_varsta.all %}<img style = "margin-right: 3px" src = '{{ STATIC_URL }}images/icon-{{ rdv.slug }}.png'>{% endfor %}</li>
            </ul>


            <strong>Categorie</strong>: <a href = "{% url jocuri:activitate_search %}?cat={{ object.categorie.id }}">{{ object.categorie }}</a><br />
            {% if object.tags.count %}
                <strong>Tag-uri</strong>: {% for tag in object.tags.all %}<a href = "{% url jocuri:activitate_search %}?tag={{ tag.id }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
            {% endif %}

            <h3>Materiale necesare</h3>
            {{ object.materiale_necesare|linenumbers|linebreaksbr }}

            <h3>Obiective educative</h3>
            {{ object.obiective_educative|linenumbers|linebreaksbr }}

            {% if object.editori.all.count %}
            <h3>Autori</h3>
                <ul class = "unstyled">
                {% for autor in object.editori.all %}
                    <li><div class = "row-fluid">
                        <div class = "span2">
                        <a href = "{% url structuri:membru_detail pk=autor.id %}">
                        <img style = "display:inline; margin-right: 10px;" class = "thumbnail" src = "{% if object.membru.poza_profil %}{{ object.membru.poza_profil.get_profil_mic_url }}{% else %}{% static 'images/50x50.gif' %}{% endif %}" />
                        </a>
                        </div>
                        <div class = 'span10'>

                        <a href = "{% url structuri:membru_detail pk=autor.id %}">
                            {{ autor }}</a><br />
                            {{ autor.centru_local }}
                            </div>
                    </div></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}