    {% extends 'base.html' %}
{% load jocuri_utils %}
{% load django_markdown %}
{% load jocuri_utils %}
{% load static %}

{% block page_title %}
	{{ object }} <span style = "font-weight: normal">| Joc / Activitate</span>
{% endblock %}

{% block meta %}
    <meta property="og:title" content="{{ object.titlu }}" />
    <meta property="og:type" content="object" />
    <meta property="og:url" content="{{ url_root }}{% url jocuri:activitate_detail pk=object.id %}" />
{#    <meta property="og:image" content="{{ url_root }}{% url album:poza_detail pk=object.id %}" />#}
    <meta property="og:image" content="{{ url_root }}{% static "images/bufnita.png" %}" />
    <meta property="og:description" content="{{ object.descriere }}" />
{% endblock %}


{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Acțiuni</li>
		<li><a href = "{% url jocuri:activitate_create %}"><i class = "icon-plus-sign"></i> Adaugă</a></li>
        <li><a href = "{% url jocuri:activitate_edit pk=object.id %}"><i class = "icon-pencil"></i> Editează</a></li>
        <li><a href = "{% url jocuri:activitate_document_create pk=object.id %}"><i class = "icon-paper-clip"></i> Atașamente</a></li>


        <li class = 'nav-header'>Locații</li>
        <li><a href = "{% url jocuri:activitate_search %}"><i class="icon-search"></i> Căutare</a></li>

	</ul>

    {% if object and object.fisiere.count > 0 %}
    <ul class = "nav-list nav" style="margin-top: 20px;">
        <li class = "nav-header">Atașamente</li>
    {% for doc in object.fisiere.all %}
        <li>
            <a class = "doc-link" data-shortcode="{{ doc.shortcode_reference }}" href = "{{ doc.get_download_url }}">
            {% comment %}
                {% if doc.image_storage %}
                    <img src = "{{ doc.image_storage.get_thumbnail_url }}" class = "thumbnail" style="width: 100%">
                {% endif %}
            {% endcomment %}
            <i class = "icon-{% if doc.source_type.0 == "fisier" %}file{% elif doc.source_type.0 == "imagine" %}picture{% endif %}"></i> {{ doc.titlu }}
            {% if doc.descriere and 0 %}
                <span style = "font-size: 10px; color: #666666">- {{ doc.descriere }}</span>
            {% endif %}</a>
        </li>
    {% endfor %}
            <li>
            <em><a href = "{% url jocuri:activitate_document_create pk=object.id %}" target="_blank"><i class = "icon-plus-sign"></i> Adaugă atașament</a></em>
        </li>

    </ul>
    {% endif %}
{% endblock %}


{% block content %}
    {% if object.is_draft %}
        <div class = "alert alert-warning"><i class = "icon-warning-sign"></i> Fișa asta este marcată ca și draft, ceea ce înseamnă că editorii ei nu consideră că este completă și gata de a fi folosită pentru activități. </div>
    {%  endif %}
    <div class = "row-fluid">
        <div class = "span10" style = "text-align: justify">
            {{ object.descriere_joc|markdown }}
        </div>
        <div class = "span2">
            <h3>Sumar</h3>
            <ul class = "unstyled">
                <li><strong>Pentru: </strong>{{ object|numar_participanti_string }} participanți</li>
                <li><strong>Durată: </strong>{{ object|durata_string }}</li>
                <li>{% for rdv in object.ramuri_de_varsta.all %}<img style = "margin-right: 3px" src = '{{ STATIC_URL }}images/icon-{{ rdv.slug }}.png'>{% endfor %}</li>
            </ul>


            <strong>Categorie</strong>: <a href = "{% url jocuri:activitate_search %}?cat={{ object.categorie.id }}">{{ object.categorie }}</a><br />
            {% if object.tags.count %}
                <strong>Tag-uri</strong>: {% for tag in object.tags.all %}<a href = "{% url jocuri:activitate_search %}?tag={{ tag.id }}"><i class = "icon-tag"></i> {{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
            {% endif %}

            <h3>Materiale necesare</h3>
            {{ object.materiale_necesare|linenumbers|linebreaksbr }}

            <h3>Obiective educative</h3>
            {{ object.obiective_educative|linenumbers|linebreaksbr }}

            {% if object.editori.all.count %}
            <h3>Autori</h3>
                <ul class = "unstyled">
                {% for autor in object.editori.all %}
                    <li><div class = "row-fluid">
                        <div class = "span2">
                        <a href = "{% url structuri:membru_detail pk=autor.id %}">
                        <img style = "display:inline; margin-right: 10px;" class = "thumbnail" src = "{% if autor.poza_profil %}{{ autor.poza_profil.get_profil_mic_url }}{% else %}{% static 'images/50x50.gif' %}{% endif %}" />
                        </a>
                        </div>
                        <div class = "span1">
                            &nbsp;
                        </div>
                        <div class = 'span9'>

                        <a href = "{% url structuri:membru_detail pk=autor.id %}">
                            {{ autor }}</a><br />
                            {{ autor.centru_local }}
                            </div>
                    </div></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script>
           $(document).ready(function() {
               $(".bigimage").load(function () {
                   $(".bigimage_container").css("width", $(this).width());
               });
           });
    </script>
{% endblock %}