*.pyc
*.log
media/*
.project
.pydevproject
logs/*”
components/*
!components/components. index
.idea/*
.vagrant/*
*.sql
!sql/*.sql
web/scoutfile3/local_settings.local.py
web/scoutfile3/local_settings.py
scoutfile3_production.sql
.vagrant
importdata
node_modules
data
/sql/current_dump/
.idea/
logs/
web/scoutfile3/local_settings.local.py.bkp

/web/yarn.lock
/web/package-lock.json
/web/package.json

.env
.envrc

web/scoutfile3/local_settings_yeti.py


*.pem
/web/github_actions.key
/web/github_actions.key.pub
/web/scoutfile3/local_settings_yeti.py
