*.pyc
*.log
media/*
.project
.pydevproject
logs/*”
components/*
!components/components.index
.idea/*
.vagrant/*
*.sql
scoutfile3/local_settings.local.py
scoutfile3/local_settings.py
scoutfile3_production.sql
.vagrant
importdata
node_modules