beautifulsoup4==4.3.2
boto==2.32.1
boto-rsync==0.8.1
chardet==2.2.1
Django==1.7.4
django-ace==1.0.1
django-ajax-selects==1.3.5
django-appconf==0.6
django-bower==5.0.1
django-crispy-forms==1.4.0
-e git+https://github.com/andreiavram/django-dajax.git@3d0ce735df2f9f2a6aafba6e64fa876d58ff82fc#egg=django_dajax-master
django-dajaxice==0.7
django-debug-toolbar==1.2.2
django-extensions==1.1.0
-e git+https://github.com/andreiavram/django_goodies.git@be44f4d10240544a9e46c96617ab0f86a2477bfe#egg=django_goodies-dev
django-imagekit==3.0.3
django-less==0.7
django-localflavor==1.1
django-markdown==0.8.4
django-pagedown==0.1.0
django-pagination==1.0.7
-e git+https://github.com/petry/django-photologue.git@c00fea5c83d733023787093b023bb2301eaf98e4#egg=django_photologue-master
django-qrcode==0.3
django-recaptcha==1.0.3
django-redis==3.7.1
Django-Select2==4.2.2
django-storages==1.1.8
django-taggit==0.10
djangorestframework==0.3.3
gdata==2.0.17
gunicorn==19.1.1
hiredis==0.1.4
Jinja2==2.7.3
-e git+https://github.com/jmoiron/johnny-cache@77d8ea54a5d4cf80c4064f87344d81757af51ff4#egg=johnny_cache-origin_django-1.6
longerusername==0.4
Markdown==2.5.2
markdown-checklist==0.4.0
MarkupSafe==0.23
MySQL-python==1.2.5
numpy==1.7.1
oauthlib==0.7.2
pilkit==1.1.9
Pillow==2.7.0
plasTeX==1.0
pyembed==1.1.2
pyembed-markdown==1.1.0
python-memcached==1.53
python-openid==2.2.5
PyYAML==3.11
qrcode==5.1
raven==5.1.1
redis==2.10.3
reportlab==3.1.44
requests==2.5.1
requests-oauthlib==0.4.2
simplejson==3.6.5
six==1.9.0
South==0.8.2
sqlparse==0.1.14
Unidecode==0.4.16
URLObject==2.4.0
