{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block page_title %}
	Autentificare
{% endblock %}

{% block content %}
	<div class = 'row'>
	<div class = 'span4'>
		<img src = "{{ STATIC_URL }}images/bufnita.png" />
	</div>
	<div class = 'span5'>
	{% if 'notauthorized' in request.GET.keys %}
		<div class = "alert alert-warning"><i class = "icon-bullhorn"></i> Nu ai drepturi pentru a face acest lucru. Discută cu o persoană cu drepturi mai mari (Membri ai Consiliului Centrului Local)</div>
	{% endif %}
	{% crispy form form.helper %}
	
	
	<p>Nu ai utilizator, dar ești membru al Organizației Naționale Cercetașii României? Poți să te înregistrezi <a href = "{% url structuri:membru_register %}">aici</a>.</p>
	<p>Ți-ai uitat parola? Poți să o resetezi de <a href = "{% url structuri:membru_forgot_password %}">aici</a>.</p>
	</div>
	</div>
{% endblock %}