{% extends 'base.html' %}
{% load tab_tags %}

{% block page_title %}
    {{ object }}
    {% if object.facebook_event_link %}<a class = "btn pull-right" href = "{{ object.facebook_event_link }}"><i class = "icon-facebook"></i> Evenimentul pe Facebook</a>{% endif %}
{% endblock %}

{% block fb_root %}
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : 'YOUR_APP_ID',                        // App ID from the app dashboard
          status     : true,                                 // Check Facebook Login status
          xfbml      : true                                  // Look for social plugins on the page
        });

        // Additional initialization code such as adding Event Listeners goes here
      };

      // Load the SDK asynchronously
      (function(){
         // If we've already installed the SDK, we're done
         if (document.getElementById('facebook-jssdk')) {return;}

         // Get the first script element, which we'll use to find the parent node
         var firstScriptElement = document.getElementsByTagName('script')[0];

         // Create a new script element and set its id
         var facebookJS = document.createElement('script');
         facebookJS.id = 'facebook-jssdk';

         // Set the new script's source to the source of the Facebook JS SDK
         facebookJS.src = '//connect.facebook.net/en_US/all.js';

         // Insert the Facebook JS SDK into the DOM
         firstScriptElement.parentNode.insertBefore(facebookJS, firstScriptElement);
       }());
    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=152554668279442";
          fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block meta %}
    <meta property="og:title" content="{{ object.nume }} - Album Foto" />
    <meta property="og:type" content="object" />
    <meta property="og:image" content="{{ url_root }}{{ object.cover_photo.get_large_url }}" />
    <meta property="og:url" content="{{ url_root }}{% url album:eveniment_detail slug=object.slug %}" />
    <meta property="og:description" content="{{ object.descriere }}" />
{% endblock %}

{% block context_menu %}
    {% include 'album/eveniment_context_menu.html' %}
{% endblock %}

{% block extrajs %}
    <script src="http://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&sensor=true"></script>
    <script>
        $(document).ready(function () {
            var current_coordinates = $("#id_" + $(this).data("field-name")).val();
            var location_lat = {{ object.locatie_geo_lat }};
            var location_long = {{ object.locatie_geo_long }};

            if ((location_lat == 0) && (location_long == 0)) {
                $("#map_canvas").html("");
                return;
            }

            var location = new google.maps.LatLng(location_lat, location_long);
            var map_options = {
                center: location,
                zoom: 11,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }

            var map = new google.maps.Map(document.getElementById("map_canvas"), map_options);
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                title: "{{ object.nume }}"
            });
        })

    </script>
{% endblock %}

{% block content %}
    <div class="row-fluid">
            <div class = "span1">
                            <div class="fb-like" style=""
                     data-href="{{ url_root }}{% url album:eveniment_detail slug=object.slug %}" data-action="like"
                     data-layout="box_count" data-width="150" data-show-faces="false" data-share="true"></div>

        </div>
    <div class="span5" style = "text-align: justify">
            {% if object.descriere %}{{ object.descriere|linebreaks }}{% endif %}
        </div>
        <div class="span4" style = "text-align: right">
            <img class = "thumbnail" src = "{% if eveniment.cover_photo %}{{ eveniment.cover_photo.get_thumbnail_url }}{% else %}http://placehold.it/320x240{% endif %}" />
            <div class="map-canvas thumbnail" id="map_canvas" style="height: 150px; width: {{ eveniment.cover_photo.get_thumbnail_size.0 }}px; border: 1px solid #efefef; padding: 5px; background-color: #ccc">
                <div style = "position: relative; top: 120px; left: 120px; color: #333;"><i style = "color: #333" class = "icon-pushpin icon-4x"></i></div>
            </div>
            <div style = "text-align: right">
            {% if object.locatie_text %}<strong>Locație: </strong>{{ object.locatie_text }}{% endif %}
            </div>

        </div>



    </div>
    <br />
    <div class = "row-fluid">
        {% if autor %}
        <div class="alert alert-success">Arăt doar pozele de la <strong>{{ autor }}</strong></div>{% endif %}
    <p><strong>Conține {{ object.total_poze }} fotografii de la {{ object.get_autori|length }} fotografi <i
            class="icon-star"></i>
        A început {{ object.start_date|date:"l, d F Y" }} și a ținut până {{ object.end_date|date:"l, d F Y" }} <i
                class="icon-star"></i> {% for autor in object.get_autori %}
            <a href="{% url album:eveniment_detail slug=object.slug %}?autor={{ autor }}">{{ autor }}</a>
            <i class='icon-star'></i> {% endfor %}</strong>
    </div>



    {% for zi, zi_photos in zile %}
        <h2><a href="{% url album:zi_detail pk=zi.id %}{% if autor %}?autor={{ autor }}{% endif %}">Ziua
            {{ zi.index }}{% if zi.titlu %} - {{ zi.titlu }}{% endif %} <i class="icon-chevron-right"
                                                                           style="margin-top: 10px"></i></a>
        </h2>
        {% if zi.descriere %}{{ zi.descriere|linebreaks|truncatewords:50 }}{% endif %}
        <p style = "font-weight: bold"><i class = "icon-star-empty"></i> {{ zi.date|date:"l, d F Y" }}, {{ zi.filter_photos.count }} fotografii</p>
        <ul class="thumbnails">
            {% for image in zi_photos|slice:":4" %}
                <li class="span3">
                    <a href="{% url album:poza_detail pk=image.id %}{% if autor %}?autor={{ autor }}{% endif %}"
                       class="thumbnail">
                        <img src="{{ image.get_thumbnail_url }}"/>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}
