{% extends 'base.html' %}
{% load tab_tags %}

{% block page_title %}
	{{ object }}
{% endblock %}

{% block context_menu %}
	{% include 'album/eveniment_context_menu.html' %}
{% endblock %}



{% block content %}
	{% if autor %}<div class = "alert alert-success">Arăt doar pozele de la <strong>{{ autor }}</strong></div>{% endif %}
	{% for zi, zi_photos in zile.items %}
		<h2><a href = "{% url album:zi_detail pk=zi.id %}{% if autor %}?autor={{ autor }}{% endif %}">Ziua {{ zi.index }}{% if zi.titlu %} - {{ zi.titlu }}{% endif %} <i class = "icon-chevron-right" style = "margin-top: 10px"></i></a></h2>
		{% if zi.descriere %}<p>{{ zi.descriere }}</p>{% endif %}
		<p>{{ zi.date|date:"l, d F Y" }}, {{ zi.filter_photos.count }} fotografii</p>
		<ul class = "thumbnails">
		{% for image in zi_photos|slice:":3" %}
			<li class = "span3">
				<a href = "{% url album:poza_detail pk=image.id %}{% if autor %}?autor={{ autor }}{% endif %}" class = "thumbnail">
					<img src = "{{ image.get_thumbnail_url }}" />
				</a>
			</li>
		{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}
