{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block extrahead %}
    {{  form.media }}
{% endblock %}

{% block page_title %}
    {% if object %}{{ object.nume }}{% else %}Eveniment nou{% endif %}
{% endblock %}

{% block context_menu %}
    {% if object %}
        {% with object as eveniment %}
            {% include "album/eveniment_context_menu.html" %}
        {% endwith %}
    {% else %}
        {% include "album/main_context_menu.html" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if object %}Eveniment al {{ object.centru_local }}{% endif %}
    {% crispy form form.helper %}
{% endblock %}
