{% extends 'base.html' %}
{% load tab_tags %}
{% load staticfiles %}

{% block page_title %}
    {{ object }} {% if object.tip_eveniment %}<span style="font-weight:normal">| {{ object.get_tip_eveniment_display|lower }}</span>{% endif %}
    {% if object.facebook_event_link %}
        <a class="btn pull-right" href="{{ object.facebook_event_link }}">
        <i class="icon-facebook"></i> Evenimentul pe Facebook</a>
    {% endif %}
    <span class = "pull-right label label-{% if object.scor_calitate < 0 %}important{% else %}{% if object.scor_calitate == 0 %}warning{% else %}success{% endif %}{% endif %}">Scor: {{ object.scor_calitate }}</span>
{% endblock %}

{% block context_menu %}
    {% include 'album/eveniment_context_menu.html' %}
{% endblock %}




{% block content %}
    {% include "album/eveniment_raport_part.html" %}
{% endblock %}
