	<ul class = "nav nav-list">
		<li class = "nav-header">Evenimente</li>
		<li><a href = "{% url album:index %}"><i class = "icon-picture"></i> Listă</a></li>
        <li><a href = "{% url album:eveniment_create %}"><i class = "icon-plus-sign"></i> Adaugă</a></li>
        <li class = "nav-header">Seturi fotografii</li>
		<li><a href = "{% url album:set_poze_user %}"><i class = "icon-list"></i> Ale mele</a></li>
		<li><a href = "{% url album:set_poze_all %}"><i class = "icon-list"></i> Toate</a></li>
	</ul>
