{% extends 'album/poza_base.html' %}
{% load crispy_forms_tags %}

{% block page_title_container %}
	{% block page_title %}
        <div class = 'page-header'>
            <h1>Raportează poza {% if object.titlu %}{{ object.titlu }}{% endif %}</h1>
        </div>
    {% endblock %}
{% endblock %}



{% block extrahead %}
	<script type = "text/javascript">
		jQuery(document).ready(function() {
			jQuery("#div_id_alt_motiv").hide();
			
			jQuery("#id_motiv_5").change(function () {
				if (jQuery(this).is(":checked")) {
					jQuery("#div_id_alt_motiv").show("fast");
				}
			});
			
		});
	</script>
{% endblock %}

{% block content %}
	<div class = "span3 thumbnail" style = "position: relative; max-width: 960px;">
		<img src = "{{ poza.get_thumbnail_url }}?{{ random_value }}" style = "width: 100%;" />
	</div>
	<div class = "span6">
		{% crispy form form.helper %}
	</div>
{% endblock %}
