{% extends 'base.html' %}

{% block extrahead %}
	<script type = "text/javascript">
		function after_vote(data) {
			console.log(data);
			jQuery("#score_" + data.picture_id).html(data.current_score);
		}
	
		jQuery(document).ready(function () {
			jQuery(".thumbs_up").click(function (event) {
				console.log("thumbs_up");
				Dajaxice.scoutfile3.album.vote_picture(Dajax.process, {"picture_id" : jQuery(this).data("image"), "score" : 1});
				event.preventDefault();
				return false;
			});
			
			jQuery(".thumbs_down").click(function (event) {
				Dajaxice.scoutfile3.album.vote_picture(Dajax.process, {"picture_id" : jQuery(this).data("image"), "score" : -1});
				event.preventDefault();
				return false;
			});
			
			$(document).keydown(function(e){
			    {% if prev_photo %}
			    if (e.keyCode == 37) { 
			       	window.location.href = "{% url album:poza_detail pk=prev_photo.id %}{% if autor %}?autor={{ autor }}{% endif %}";
			       	return false;
			    }
			    {% endif %}
			    
			    {% if next_photo %}
			    if (e.keyCode == 39) {
			    	window.location.href = "{% url album:poza_detail pk=next_photo.id %}{% if autor %}?autor={{ autor }}{% endif %}";
			    	return false;
			    }
			    {% endif %}
			    
			    if (e.keyCode == 76) {
			    	//	l key was pressed = like
					Dajaxice.scoutfile3.album.vote_picture(Dajax.process, {"picture_id" : {{ object.id }}, "score" : 1});
			    	return false;
			    }
			    
			    if (e.keyCode == 72) {
			    	//	h key was pressed = hate
			    	Dajaxice.scoutfile3.album.vote_picture(Dajax.process, {"picture_id" : {{ object.id }}, "score" : -1});
			    	return false;
			    }
			    
			});			
		});
		
	</script>
{% endblock %}

{% block page_title %}
	{% if object.titlu %}{{ object.titlu }}{% else %}Imagine{% endif %}
	<div class = "pull-right btn-toolbar">
		<div class = "btn-group">
			<a class = "btn" href = "{% url album:poza_flag pk=object.id %}"><i class = "icon-flag"></i></a>
		</div>
		<div class = "btn-group">
			<a href = "{% url album:zi_detail pk=object.get_day.id %}?page={{ zi_page }}" class = "btn"><i class = "icon-chevron-up"></i></a>
		</div>
		<div class = "btn-group">
			<a href = "javascript:void()" class = "btn thumbs_up" data-image = "{{ object.id }}"><i class = "icon-thumbs-up"></i></a>
			<a href = "javascript:void()" class = "btn disabled" id = "score_{{ object.id }}">{{ object.score }}</a>
			<a href = "javascript:void()" class = "btn thumbs_down" data-image = "{{ object.id }}"><i class = "icon-thumbs-down"></i></a>
		</div>
		<div class = "btn-group">
			<a href = "{% url album:poza_rotate pk=object.id %}?direction=ccw" class = "btn"><i class = "icon-arrow-left"></i></a>
			<a href = "javascript:void();" class = "btn disabled"><i class = "icon-refresh"></i></a>
			<a href = "{% url album:poza_rotate pk=object.id %}?direction=cw" class = "btn"><i class = "icon-arrow-right"></i></a>
		</div>
		<div class = "btn-group">
			<a href = "{{ object.image.url }}" class = "btn"><i class = "icon-picture"></i> Original</a>
			<a href = "{{ object.get_profile_url }}" class = "btn"><i class = "icon-picture"></i> Profil</a>
		</div>
	</div>
{% endblock %}

{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Acțiuni</li>
		<li class = "disabled"><a href = ""><i class = "icon-download"></i> Download toate</a>
		<li class = "disabled"><a href = ""><i class = "icon-download-alt"></i> Torrent</a>
		<li class = "nav-header">Locații</li>
		<li><a href = "{% url album:eveniment_detail slug=object.set_poze.eveniment.slug %}{% if autor %}?autor={{ autor }}{% endif %}"><i class = "icon-list"></i> {{ object.set_poze.eveniment }}</a></li>
		<li><a href = "{% url album:zi_detail pk=object.get_day.id %}{% if autor %}?autor={{ autor }}{% endif %}"><i class = "icon-list"></i> {{ object.get_day }}</a></li>
	</ul>
	<dl>
		{% for exif in object.interesting_exifdata %}
			<dt>{{ exif.key }}</dt>
				<dd>{{ exif.value }}</dd>
		{% endfor %}
		<dt>Autor</dt>
			<dd>{{ object.set_poze.autor }}</dd>
	</dl>
	
	<div class = "alert alert-info">
		<i class = "icon-bullhorn"></i> <strong>Atențiune:</strong> Folosește albumul nostru ca un șerif! Apasă <i class = "icon-arrow-left keyboard-key"></i> și <i class = "icon-arrow-right keyboard-key"></i> pentru a naviga între poze. <em class = "keyboard-key">L</em> pentru like, <em class = "keyboard-key">H</em> pentru hate
	</div>
{% endblock %}

{% block content %}
	{% if object.flagreport_set.all.count %}<div class = "alert alert-warning"><i class = "icon-flag"></i> Această poză a fost marcată de {% if object.flagreport_set.all.count > 1 %}mai mulți utilizatori{% else %}un utilizator{% endif %} ca nepotrivită pentru acest album, și urmează să fie analizată de un lider sau de fotograf.</div>{% endif %}
	<div class = "image-container" style = "position: relative; max-width: 960px; text-align: center;">
		<div style = "position: relative; margin-left: auto; margin-right: auto;width : {{ object.get_large_size.0 }}px; background-color: black; padding: 5px;">
		<img src = "{{ object.get_large_url }}?{{ random_value }}" style = "" />
		{% if next_photo %}
			<div style = "position: absolute; right: 10px; top: 10px; padding: 3px 6px; background: #000; border: 1px solid #666">
				<a href = "{% url album:poza_detail pk=next_photo.id %}{% if autor %}?autor={{ autor }}{% endif %}"><i class = "icon-chevron-right icon-white"></i></a>
			</div>
		{% endif %}
		{% if prev_photo %}
			<div style = "position: absolute; left: 10px; top: 10px; padding: 3px 6px; background: #000; border: 1px solid #666">
				<a href = "{% url album:poza_detail pk=prev_photo.id %}{% if autor %}?autor={{ autor }}{% endif %}"><i class = "icon-chevron-left icon-white"></i></a>
			</div>
		{% endif %}
		
		<div style = "bottom: 10px; right: 10px; position: absolute; background: #000; color: #fff; border: 1px solid #666; opacity: 0.7; padding: 5px 10px;">&copy; {{ object.data|date:"Y" }}, {{ object.set_poze.autor }}</div>
		</div>
	</div>
{% endblock %}
