{% extends 'album/poza_base.html' %}

{% block content %}
{#	<div class = "well">{% if object.is_face_processed %}Face processed {{ object.detectedface_set.all.count }} faces found {% else %}not processed{% endif %}</div>#}
	{% if object.flagreport_set.all.count %}<div class = "alert alert-warning"><i class = "icon-flag"></i> Această poză a fost marcată de {% if object.flagreport_set.all.count > 1 %}mai mulți utilizatori{% else %}un utilizator{% endif %} ca nepotrivită pentru acest album, și urmează să fie analizată de un lider sau de fotograf.</div>{% endif %}
	<div class = "image-container" style = "position: relative; text-align: center; float:left; ">
		<div style = "margin-left: auto; margin-right: auto;width : {{ object.get_large_size.0 }}px; background-color: black; padding: 5px;">
		<div style = "float: left; height: 0;">
{#        #}
{#		{% for face in object.detectedface_set.all %}#}
{#			<div class = "face" style = "display: none; position: absolute; left: {% widthratio face.x object.resolution_x 960 %}px; top: {% widthratio face.y object.resolution_x 960 %}px; width: {% widthratio face.width object.resolution_x 960 %}px; height: {% widthratio face.height object.resolution_x 960 %}px; border: 3px dashed #3c3f41;"></div>#}
{#		{% endfor %}#}
		</div>

            <img src = "{{ object.get_large_url }}?{{ random_value }}" style = "" />
		{% if next_photo %}
			<div style = "position: absolute; right: 10px; top: 10px; padding: 3px 6px; background: #000; border: 1px solid #666">
				<a href = "{% url album:poza_detail pk=next_photo.id %}{% if autor %}?autor={{ autor }}{% endif %}"><i class = "icon-chevron-right icon-white"></i></a>
			</div>
		{% endif %}
		{% if prev_photo %}
			<div style = "position: absolute; left: 10px; top: 10px; padding: 3px 6px; background: #000; border: 1px solid #666">
				<a href = "{% url album:poza_detail pk=prev_photo.id %}{% if autor %}?autor={{ autor }}{% endif %}"><i class = "icon-chevron-left icon-white"></i></a>
			</div>
		{% endif %}
		
		<div style = "bottom: 10px; right: 10px; position: absolute; background: #000; color: #fff; border: 1px solid #666; opacity: 0.7; padding: 5px 10px;">&copy; {{ object.data|date:"Y" }}, {{ object.set_poze.autor }}</div>
            {% if object.published_status == 4 %}
        <div class="fb-like" style = "bottom: 60px; left: 10px;" data-href="{{ url_root }}{% url album:poza_detail pk=object.id %}" data-action="like" data-layout = "box_count" data-width = "150" data-show-faces="false" data-share="true"></div>
        {% endif %}

		</div>
	</div>
{% endblock %}