{% extends 'album/zi_base.html' %}
{% load staticfiles %}
{% load pagination_tags %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ STATIC_URL }}generic/css/tagmanager.css"/>
    {% include "album/imagine_handlers.html" %}
{% endblock %}

{% block extrajs %}
    <script src="{% static "js/underscore-min.js" %}"></script>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if (($(window).scrollTop() >= $(document).height() - $(window).height() * 1.5) && !(stop_flag)) {
                    get_photos();
                }
            });
            get_photos();
        });

        function get_request_data() {
            return {"offset": offset,
                "limit": limit,
                "zi": {{ object.id }},
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                "ordering": "asc"};
        }
    </script>
{% endblock %}



{% block content %}
    <div class="alert alert-info">Albumul pentru <a href="
            {% url album:eveniment_detail slug=object.eveniment.slug %}{% if autor %}?autor={{ autor }}{% endif %}"><i
            class="icon-list"></i> {{ object.eveniment }}</a>, <strong>{{ object.filter_photos.count }}</strong>
        fotografii pentru {{ object.date|date:"l, d F Y" }}</div>
    <div class="alert">Folosește varianta clasică cu paginație <a href="{% url album:zi_detail pk=object.id %}">aici</a>.
    </div>
    {% if autor %}
        <div class="alert alert-success">Arăt doar pozele de la <strong>{{ autor }}</strong></div>{% endif %}
    {% if object.descriere %}{{ object.descriere|linebreaks }}{% endif %}


    <div class="thumbnails" id="rezultate-list">
    </div>
    <div class="loading"></div>

{% endblock %}
