{% extends 'base.html' %}

{% block page_title %}
	Centre Locale
{% endblock %}

{% block extrahead %}
	<script type = "text/javascript" src = "{% url "goodies:js_delete" app_label='structuri' model='centrulocal' %}"></script>
{% endblock %}

{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Acțiuni</li>
		<li><a href = "{% url "structuri:cl_add"  %}"><i class = "icon-plus-sign"></i> Adaugă</a>
	</ul>
{% endblock %}


{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>&nbsp;</th>
			<th>Nume</th>
			<th>Statut juridic</th>
			<th>Cercetași</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for object in object_list %}
		<tr id = "row_{{ object.id }}">
			<td>{{ forloop.counter }}</td>
			<td>
				{% if object.statut_drepturi == 'depline' %}<i class = "icon-ok" style = "color: green;"></i>{% endif %}
				{% if object.statut_drepturi == 'suspendat' %}<i class = "icon-remove" style = "color: red"></i>{% endif %}
				{% if object.statut_drepturi == 'propus_desfiintare' %}<i class = "icon-remove" style = "color: red"></i> <i class = "icon-exclamation-sign" style = "color: orange;"></i>{% endif %}
				{% if object.statut_drepturi == 'gi' %}<i class = "icon-exclamation-sign" style = "color: gold"></i>{% endif %}
			
			</td>
			<td><a href = "{% url "structuri:cl_detail"  pk=object.id %}">{{ object }}</a>{% if object.specific %}<br /><span style = "font-size: 10px;"><em>Specific {{ object.get_specific_display }}</em></span>{% endif %}</td>
			<td>{{ object.get_statut_juridic_display }}</td>
			<td>{{ object.cercetasi|length }}</td>
			<td>    
				<div class="btn-group pull-right">
				    <a class = "btn btn-mini" href = "{% url "structuri:cl_edit"  pk=object.id %}"><i class = "icon-pencil"></i></a>
				    <a href = "javascript:void();" class = "btn btn-mini" id = "delete_{{ object.id }}"><i class = "icon-trash"></i></a>
			    </div>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td>&nbsp;</td>
			<td><em>Nu există centre locale. Adăugați unul nou de <a href = "{% url "structuri:cl_add"  %}">aici</a>.</em></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		{% endfor %}
	</tbody>

</table>
{% endblock %}