{% extends 'base.html' %}
{% load tab_tags %}
{% load cotizatie_tags %}

{% block page_title %}
	{% with user.get_profile.membru as membru %}{{ membru }} <span style="font-weight: normal">| dashboard</span>

    <p style = "font-size: 12px; font-weight: normal" class = "pull-right label label-{{ membru.status_cotizatie_numeric|cotizatie_level_label }}">
    {% if membru.is_suspendat %}<strong><i class = "icon-remove"></i> SUSPENDAT</strong> | {% endif %}
    Cotizație: <strong>{{ membru.status_cotizatie_numeric|cotizatie_description }}</strong>
    {% if membru.status_cotizatie_numeric > 0 %}Mai trebuie să plătești {{ membru.calculeaza_necesar_cotizatie }} RON pentru a ajunge la zi{% endif %}
    {% endwith %}
</p>

{% endblock %}

{% block extrahead %}
	{% tab_js %}
{% endblock %}

{% block context_menu %}
	<ul class = "nav nav-list">
		{% with user.get_profile.membru as membru %}
        <li class = "nav-header">Acțiuni</li>
		<li><a href = "{% url "structuri:membru_edit_profile"  %}"><i class = "icon-pencil"></i> Editează profilul</a></li>
		<li><a href = "{% url "structuri:membru_edit_profile_picture"  %}"><i class = "icon-picture"></i> Schimbă poza de profil</a></li>
		<li class = "nav-header">Locații</li>
        {% for patrula in membru.get_patrule %}
            <li><a href = "{{ patrula.get_absolute_url }}"><i class = "icon-group"></i> {{ patrula.nume }}</a></li>
        {% endfor %}
        {% for unitate in membru.get_unitati %}
            <li><a href = "{{ unitate.get_absolute_url }}"><i class = "icon-group"></i> {{ unitate }}</a></li>
        {% endfor %}
        <li class = "nav-header">Activități</li>
        {% for patrula in membru.get_patrule %}
            <li><a href = "{% url "album:calendar_centru_local"  pk=patrula.unitate.centru_local.id %}?patrula={{ patrula.id }}"><i class = "icon-calendar"></i> {{ patrula }}</a></li>
        {% endfor %}
        {% for unitate in membru.get_unitati %}
            <li><a href = "{% url "album:calendar_centru_local"  pk=unitate.centru_local.id %}?unitate={{ unitate.id }}"><i class = "icon-calendar"></i> {{ unitate }}</a></li>
        {% endfor%}
        {% endwith %}
        <li class = "disabled"><a href = "#"><i class = "icon-calendar"></i> Înscriere activități</a></li>
	</ul>
{% endblock %}



{% block content %}
    {% if not user.get_profile.facebook_connected %}<div class = "alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button><i class = 'icon-facebook'></i> Nu uita să-ți <a href "{% url "structuri:membru_confirma_facebook"  %}">conectezi profilul</a> cu contul tău de Facebook, ca să nu mai trebuiească să ții mine useri și parole :)</div>{% endif %}
	{% print_tabs tabs active_tab %}
{% endblock %}
