{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
	Adaugă credit
{% endblock %}

{% block extrahead %}
	<script type = "text/javascript">
	function after_update_content_objects(data) {
		values_html = "";
		for (var i = 0; i < data.objects.length; i++) {
			values_html += "<option ";
			values_html += " value = '" + data.objects[i][0] + "'>" + data.objects[i][1] + "</option>";
		}
		
		$("#id_object_id").html(values_html);
		$("#div_id_object_id").show("fast");
	}	
	
	jQuery(document).ready(function () {
		$("#div_id_object_id").hide();
		$("#id_content_type").change(function () {
			if ($(this).val() == "") {
				$("#div_id_object_id").hide("fast");
				$("#id_object_id").val("");
			} else {
				Dajaxice.structuri.update_content_objects(Dajax.process, {"ctype_id" : $(this).val()});
			}
		});
		
		if ($("#id_content_type").val() != "") {
			Dajaxice.structuri.update_content_objects(Dajax.process, {"ctype_id" : $("#id_content_type").val()});
		}
	});
	</script>
{% endblock %}


{% block content %}
	<div class = "alert alert-info"><i class = "icon-cog"></i> Total SMS-uri nealocate sistem: {{ credit_sistem_nealocat }} (din {{ credit_curent_sistem }} totale disponibile)</div>
	{% crispy form form.helper %}
{% endblock %}