@CHARSET "UTF-8";

#content-wrapper {
	margin-top: 35px;
	min-height: 300px;
}

#footer {
	text-align: center;
	margin-top: 50px;
}

#menu {
	margin-top: 15px;
}

#message_container ul, ul.alert-block {
	list-style-type:none;
}

.keyboard-key {
	color: #000;
	font-weight: bold;
	border: 1px solid #CCC;
	padding: 2px 5px;
	background-color: #fff;
	opacity: .7;
}

i.keyboard-key {
	padding: 0;
}