{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
	Trimite SMS
{% endblock %}

{% block extrahead %}
<script type = "text/javascript">
	$(document).ready(function () {
		$("#id_mesaj").keyup(function () {
			rest = 157 - $("#id_mesaj").val().length;
			$("#mesaj_count").html(rest + " caractere rămase");		
		});
		
		jQuery("#sms_send_form").submit(function (event) {
			// console.log($("#id_destinatari").val(), "<- destinatari ->", destinatari);
			//event.preventDefault();
			//return false;
		});
		
		if ($("id_destinatari").val() != "") {
			//console.log("id_Val: ", $("#id_destinatari").val());
			json_object = jQuery.parseJSON($("#id_destinatari").val());
			//console.log("JSON: ", json_object);
			if (json_object) {
				append_destinatari(json_object);
			}
		}
		
		rest = 157 - $("#id_mesaj").val().length;
		$("#mesaj_count").html(rest + " caractere rămase");
		
		$("a[data-targetlist]").click(function (e) {
			$.ajax({url : "{% url structuri:speedlist %}",
				type: "get",
				data: {"mode" : $(this).data("targetlist")},
				dataType: "json",
				success : function(data) {
					append_destinatari(data);	
				}});
			e.preventDefault();
		});
	});
</script>	
{% endblock %}

{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Locații</li>
		<li><a href = "{% url patrocle:home %}"><i class = "icon-dashboard"></i> Dashboard</a></li>
		<li class = "nav-header">Speedlist</li>
		<li><a href = "#" data-targetlist = "ccl"><i class = "icon-user"></i> Consiliul Centrului Local</a>
		<li><a href = "#" data-targetlist = "lideri"><i class = "icon-user"></i> Lideri Centru Local</a>
	</ul>
{% endblock %}


{% block content %}
	<style type = "text/css">
		.typeahead.dropdown-menu {
			min-width: 400px;
		}
	</style>
	<div class  = "row">
		<div class = "span4">
			<label for = "id_magicbox">Destinatari*</label>
			<input id = "id_magicbox" class = 'ta span4' type = "text">

			<script type = "text/javascript">
				var destinatari =-[];			
			
			 	function test_render (items) {
			 	      var that = this
			
			 	      
			 	      items = $(items).map(function (i, item) {
				       i = $(that.options.item).attr('data-value', item.id)
						       //i.find('span.replace').html(that.highlighter(item))
						       
				       html_string = "<li><a href = '#'><div class = 'row-fluid'>";
						html_string += "<div class = 'span3'>"
						if (item.profil != "") {
							html_string += "<img style = 'height: 50px; width: 50px;' class = 'thumbnail' src = '" + item.profil + "'>";
						} else {
							html_string += "<img style = 'height: 50px; width: 50px;' class = 'thumbnail' src = 'http://placehold.it/50x50/ffffff'>";
						}
						html_string += "</div>";
						html_string += "<div class = 'span2'>" + that.highlighter(item) + "</div>";
						html_string += "</div></a></li>";
						       
				       i.html(html_string);
				       return i[0]
			 	      })
		
			 	      items.first().addClass('active')
			 	      this.$menu.html(items)
			 	      return this
			 	    }	
			 	
			 	 	function test_matcher (item) {
			 	 		//console.log(item);
			 	      	return ~item.search.toLowerCase().indexOf(this.query.toLowerCase());
			 	    }
			 	
			 	 	function test_sorter (items) {
			 	       var beginswith = []
			 	         , caseSensitive = []
			 	         , caseInsensitive = []
			 	         , item
		
			 	       while (item = items.shift()) {
			 	         if (!item.search.toLowerCase().indexOf(this.query.toLowerCase())) beginswith.push(item)
			 	         else if (~item.search.indexOf(this.query)) caseSensitive.push(item)
			 	         else caseInsensitive.push(item)
			 	       }
		
			 	       return beginswith.concat(caseSensitive, caseInsensitive)
			 	     }
			 	 	
			 	 	function test_highlighter (item) {
			 	       var query = this.query.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&')
			 	       return item.search.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
			 	         return '<strong>' + match + '</strong>'
			 	       })
			 	     }	 	 
			 	 	
			 	 	function test_updated (item) {
			 	 		return item
			 	     }	 	 	
			 	 	
			 	 	function test_select () {
			 	       var val = this.$menu.find('.active').attr('data-value')
			 	       this.$element.val("").change()
			 	       
			 	       ids = val.split(":");
			 	       if (ids.length == 2) {
			 	       		url = "{% url structuri:ajax_persoana_contact_detail %}?pk=" + ids[0];
			 	       } else {
			 	    	  url = "{% url structuri:ajax_membru_detail %}?pk=" + ids[0];
			 	       }

			 	       $.get(url, function (data) {
			 	    	   			if ($("#destinatari").find("[data-objectid='" + val + "']").length == 0) {
			 	    	 				$("#destinatari").append(data);
			 	    	 				$("#destinatari").find("[data-objectid='" + val + "']").find("[data-action='remove']").click(function (e) { $(this).parent().parent().remove(); e.preventDefault(); update_destinatari(); });
			 	    	 				update_destinatari();
			 	    	   			} else {
			 	    	   				$("#destinatari").find("[data-objectid='" + val + "']").fadeOut("fast", function () { $(this).fadeIn("fast")});
			 	    	   			}
			 	    	   			
			 	       });
			 	         
			 	       return this.hide()
			 	     }	 	 	
			 	 	
			 	 	function update_destinatari() {
			 	 		update_count();
			 	 		destinatari = []
			 	 		telefoane = $("#destinatari").find("[data-telefon]").each(function (index, elm) {
			 	 			destinatari[destinatari.length] = ["0" + $(elm).data('telefon'), $(elm).data('objectid')];
			 	 		});
			 	 		
			 	 		json_out = "["
			 	 		for (var i = 0; i < destinatari.length; i++) {
			 	 			json_out += "[\"" + destinatari[i][0]+ "\", \"" + destinatari[i][1] +  "\"], "
			 	 		}
			 	 		json_out += "[]]"
			 	 		
			 	 		
			 	 		$("#id_destinatari").val(json_out);
			 	 		
			 	 		//console.log(destinatari, $("#id_destinatari").val());
			 	 	}
			 	 	
			 	 	function update_count() {
    	 				total = $("#destinatari").find("[data-objectid]").length;
    	 				if (total == 1) {
    	 					$("#count").html("<em>Total: <strong>1</strong> destinatar");
    	 				} else {
    	 					$("#count").html("<em>Total: <strong>" + total + "</strong> destinatari");
    	 				}
			 	 	}
		
		 	 	$.fn.typeahead.Constructor.prototype.highlighter = test_highlighter;
			 	$.fn.typeahead.Constructor.prototype.render = test_render;
			 	$.fn.typeahead.Constructor.prototype.matcher = test_matcher;
			 	$.fn.typeahead.Constructor.prototype.sorter = test_sorter;
			 	$.fn.typeahead.Constructor.prototype.updater = test_updated;
			 	$.fn.typeahead.Constructor.prototype.select = test_select;
			 	
				function get_items(query, process) {
					// return [{search: "unau", icon : "icon-download"}, {search: "doi", icon : "icon-download"}, {search: "treai", icon : "icon-download"}];
					$.ajax({url : "{% url structuri:ajax_patrocle_membri %}",
						data : {"query" : query},
						dataType : "json",
						success : function (data) {
							process(data);
						}
						});
				}
				
				function append_destinatari(json_object) {
					for (var i = 0; i < json_object.length; i++) {
						if (json_object[i].length == 0) {
							continue;
						}
						
						ids = json_object[i][1].split(":");
						val = json_object[i][1];
						console.log("val aici e ", val);
						
						if (ids.length == 2) {
								url = "{% url structuri:ajax_persoana_contact_detail %}?pk=" + ids[0];
						} else {
						url = "{% url structuri:ajax_membru_detail %}?pk=" + ids[0];
						}
						
				       $.ajax({url : url, 
				    	   dataType : "html",
				    	   async : true,
				    	   type : "get",
				    	   success : function (data) {
				    		   
					    		   var regexp = /data-objectid = \"(\d+)\"/g;
					    		   match = regexp.exec(data);
					    		   val = match[1];
					    		   console.log("val e ", val);
				    	   			if ($("#destinatari").find("[data-objectid='" + val + "']").length == 0) {
				    	 				$("#destinatari").append(data);
				    	 				$("#destinatari").find("[data-objectid='" + val + "']").find("[data-action='remove']").click(function (e) { console.log("here"); $(this).parent().parent().remove(); e.preventDefault(); update_destinatari(); });
				    	 				update_destinatari();
				    	   			} else {
				    	   				$("#destinatari").find("[data-objectid='" + val + "']").fadeOut("fast", function () { $(this).fadeIn("fast")});
				    	   			}
				    	   			
				       }});
					}	
				}
				
				$(".ta").typeahead({source : get_items, items: 8});
				
			</script>
			<div id = "count" style = 'color: #666; border-bottom: 1px dotted #CCC; margin-bottom: 5px;'><em>Alegeți destinatari folosind câmpul de mai sus.</em></div>
			<div id = "destinatari"></div>
		</div>
		<div class = "span6">
			{% crispy form form.helper %}
		</div>
	</div>
{% endblock %}