{% extends 'base.html' %}

{% block page_title %}
	Acces locații inventar
{% endblock %}

{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Acțiuni</li>
	</ul>
{% endblock %}

{% block extrajs %}
    <script>
    $("document").ready(function () {
        $("#action-response").hide();
        $("#open-action").click(function (e) {
            $(this).unbind("click").addClass("disabled");
            $.post("{% url "inventar:locatie_access_action" %}",
                    {"csrfmiddlewaretoken": "{{ csrf_token }}"},
                    dataType="json")
            .done(function(data) {
                $("#action-response").html("Usa deschisa!").addClass("alert", "alert-success").show(); })
            .fail(function(data) {
                $("#action-response").html("Eroare! Nu am putut deschide poarta!").addClass("alert").addClass("alert-error").show();
            });
        });
    });
    </script>
{% endblock %}

{% block content %}
    <p>
        Apasă butonul de mai jos ca să deschizi poarta de la magazie. La scurt timp după ce apeși o să auzi
        că este activat zăvorul, și trage și împinge un pic de poartă ca să se deschidă. Din motive de siguranță, după
        ce deschizi ușa o dată, butonul de jos va deveni inactiv. Dacă ai nevoie să mai deschizi o dată poarta, fă un refresh
        la pagină <a href ="{% url "inventar:locatie_access" %}">aici</a>.
    </p>
    <p id = "action-response">

    </p>
    <p>
        <button id = "open-action" class = "btn btn-default"><i class = "icon-unlock"></i> Deschide magazie</button>
    </p>
{% endblock %}