{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
	Resetare parolă
{% endblock %}

{% block content %}
	<p>În cazul în care ți-ai uitat parola, poți folosi acest formular pentru a o reseta. Ce trebuie să faci:</p>
	<ol>
		<li>Completează formularul, cu emailul tău (cu care te-ai înregistrat) și codul de verificare</li>
		<li>Verifică în email, vei primi un mesaj de la ScoutFile, care contine un link</li>
		<li>Deschide link-ul si vei primi o noua parola, cu care te poți autentifica, și apoi să îți schimbi parola la una mai ... familiară :)</li>
	</ol>
	{% crispy form form.helper %}
{% endblock %}