{% extends 'base.html' %}
{% load tab_tags %}

{% block page_title %}
    Adaugă document
{% endblock %}

{% block context_menu %}
    {% with centru_local as object %}
        {% include 'structuri/centrulocal_context_menu.html' %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h2>Decizii Consiliul Centrului Local</h2>
    <div class = "document-list">
        <a href="{% url "documente:decizie_cuantum_adauga"  pk=centru_local.id %}"><strong><i class="icon-file"></i> Decizie cuantum cotizație</strong></a>
        <br/>
        Stabiliește cuantumurile cotizațiilor pentru diferitele nivele (local, național, social, adulți ...).
        Este necesară o decizie separată pentru fiecare componentă / categorie a cotizației. Modificările de cotizație
        la nivel național trebuie oglindite în decizii de Consiliu Centru Local.
        <br/><span class="label label-warning"><i class="icon-bell icon-white"></i> Atenție! </span> tipul acesta de
        document influențează comportarea aplicației pentru toți membri!
    </div>

    <div class = "document-list">
        <a href=""><strong><i class="icon-file"></i> Decizie rezervare de numere</strong></a>
        <br/>
        Stabilește seriile și intervalele de numere pe care le vor primi chitanțele, facturile sau alte documente ale
        Centrului Local
    </div>

    <div class = "document-list">
        <a href="{% url "documente:centru_local_decizie_adauga"  pk=centru_local.id %}"><strong><i class="icon-file"></i> Decizie</strong></a>
        <br/>
        Decizie a Consiliului Centrului Local (generală).
    </div>


    <h2>Fiscale</h2>
    <div class = "document-list">
        <a href=""><strong><i class="icon-file"></i> Chitanță</strong></a>
    </div>
    <div class = "document-list">
        <a href=""><strong><i class="icon-file"></i> Factură</strong></a>
    </div>


{% endblock %}
