{% extends 'base.html' %}
{% load pagination_tags %} {% load bs_pagination %}

{% block page_title %}
	Registre
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% url "goodies:js_delete" app_label='documente' model='Registru' %}"></script>
{% endblock %}


{% block context_menu %}
    {% with centru_local as object %}
    {% include 'structuri/centrulocal_context_menu.html' %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class = "btn-toolbar">


    <div class = "btn-group">
        <a class = "btn btn-primary" href = "{% url "documente:registru_add"  pk=centru_local.id %}"><i class = "icon-plus-sign icon-white"></i> Crează registru</a>
    </div>
    <div class = "btn-group pull-right">
        {% for tip in tipuri_registre %}
        <a class = "btn {% if 'tip' in request.GET and request.GET.tip == tip.0 %}disabled{% endif %}" href = "{% url "documente:registre"  pk=centru_local.id %}?tip={{ tip.0 }}">{{ tip.1 }}</a>
        {% endfor %}
        <a class = "btn {% if 'tip' not in request.GET %}disabled{% endif %}" href = "{% url "documente:registre"  pk=centru_local.id %}">Toate</a>
    </div>
    <div class = "btn-group pull-right">
        <a class = "btn" href = "{% url "documente:registre"  pk=centru_local.id %}?inactive={% if inactive %}off{% else %}on{% endif %}"> <i class = "icon-eye{% if inactive %}-close{% else %}-open{% endif %}"></i> Registre inactive</a>
    </div>
    </div>
    <br /><br />
    <table class = "table table-striped">
    <tr>
        <th>ID</th>
       <th><i class = 'icon-lock'></i></th>
        <th><i class = 'icon-repeat'></i></th>
        <th>Tip</th>
        <th>Seria</th>
        <th>Documente</th>
        <th>Activ</th>

        <th>Început / Curent / Final</th>
        <th>&nbsp;</th>
    </tr>
    {% autopaginate object_list 10 %}
    {% for obj in object_list %}
        <tr id="row_{{ obj.id }}">
            <td>#{{ obj.id }}</td>
            <td><i class = "icon-{% if obj.editabil %}unlock{% else %}lock{% endif %}"></i></td>
            <td><i class = "icon-{% if obj.mod_functionare == 'auto' %}repeat{% else %}{% endif %}"></i></td>
            <td><a href = "{% url "documente:registru_detail"  pk=obj.id %}">{{ obj.get_tip_registru_display }}</a></td>
            <td>{{ obj.serie }}</td>
            <td>{{ obj.document_set.all.count }}</td>
            <td><i class = "icon-{% if obj.valabil %}ok{% else %}remove{% endif %}"></i></td>

            <td>{{ obj.numar_inceput }} /
                {% if obj.mod_functionare == 'auto' %}
                {{ obj.numar_curent }}
            {% else %}<em>manual</em>
                {% endif %} /
                {%  if obj.numar_sfarsit %}{{ obj.numar_sfarsit }}{% else %}<em>deschis</em>{% endif %}<br />
            {% if obj.mod_functionare == 'auto' %}
                {% if obj.numar_sfarsit %}<span style = "font-size: 80%"><em>Disponibile: </em>{{ obj.numere_ramase }}</span>{% endif %}
            {% endif %}
            </td>
            <td>
                <div class = "btn-group pull-right">
                    {% if obj.editabil %}
                        <a href = "{% url "documente:registru_edit"  pk=obj.id %}" class = "btn btn-mini"><i class = "icon-edit"></i></a>
                        <a href = "javascript:void()" id = "delete_{{ obj.id }}" class = "btn btn-mini"><i class = "icon-trash"></i></a>
                    {% endif %}
                    <a href = "#" class = "btn btn-mini"><i class = "icon-print"></i></a>

                </div>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td>&nbsp;</td>
            <td colspan="8"><em>Nu există registre.</em></td>
        </tr>
    {% endfor %}
    </table>
    {% paginate_bs2 %}
{% endblock %}

