{% extends "voting/base.html" %}
{% block content %}
    <h1 class="display-3">{{ object.title }}</h1>
    <p>Deschis pe <strong>{{ object.created|date:"d.m.Y H:m" }}</strong><br>
        Ultima activitate <strong>{{ object.last_activity|date:"d.m.Y H:m" }}</strong></p>
    <p>Deschis de <strong>{{ object.owner }}</strong></p>
    <p class="lead">{{ object.description }}</p>
    {% if object.voting_enabled %}
        <h2>Voturi</h2>
        <table>
            {% for member in object.get_voters %}
                <tr>
                    <td>{{ member }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h2>Discuție</h2>
    {% for discussion_item in object.discussion.all %}
        {{ discussion_item }}
    {% endfor %}
{% endblock %}
