{% load dajaxice_templatetags %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>ScoutFile</title>
    {% block meta %}
        <meta property="og:title" content="ScoutFile" />
        <meta property="og:type" content="object" />
        <meta property="og:image" content="{{ url_root }}{% static "images/bufnita.png" %}" />
        <meta property="og:url" content="{{ url_root }}" />
        <meta property="og:description" content="software pentru cercetași" />

    {% endblock %}

    {% comment %}
		<script src="//d3nslu0hdya83q.cloudfront.net/dist/1.0/raven.min.js"></script>	
		<script>
			Raven.config('http://cce06e32cfae4025af7c2b39b889bc27@yeti.albascout.ro/sentry/2').install();
		</script>
		{% endcomment %}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/themes/smoothness/jquery-ui.css" rel='stylesheet'/>
{#      <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js" type = "text/javascript" charset="utf-8"></script>#}
    <script src='{% static "dajax/jquery.dajax.core.js" %}'></script>

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="{%  static "css/social-buttons.css" %}" rel="stylesheet"/>
    <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
    <script src = "{% static "lodash/lodash.js" %}"></script>
    <script src = "{% static "jquery-cookie/jquery.cookie.js" %}"></script>
    <script src = "{% static "js/csrf_protect.js" %}"></script>
    <script>
        var csrftoken = "{{ csrf_token }}";
    </script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->


    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" type="text/css" media="all"/>

    {% dajaxice_js_import %}

    <script type='text/javascript' src="{{ STATIC_URL }}js/ajax_select.js"></script>
    <link type="text/css" href="{{ STATIC_URL }}css/ajax_select.css" rel="stylesheet">

    {% block extrahead %}
    {% endblock %}
</head>
<body>
{% block fb_root %}
{% endblock %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url "index"  %}">
                ScoutFile
            </a>
            {% include 'top_menu.html' %}
        </div>
    </div>
</div>
<div id="wrap">
    <div id="content-wrapper" class="container-fluid">
        <div class="row-fluid">
            <div id="menu" class="span2">
                {% block context_menu %}
                    &nbsp;
                {% endblock %}
            </div>

            <div id="content" class="span10">
                <div id="content-inner">
                    {% block page_title_container %}
                    <div class="page-header">
                        <h1>{% block page_title %}ScoutFile{% endblock %}</h1>
                    </div>
                    {% endblock %}
                    <div id="message_container">
                        {% if messages %}
                            {% for message in messages %}
                                <div id="msg_{{ forloop.count }}" {% if message.tags %}
                                     class="django-message alert alert-{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <script type="text/javascript">
                            function hide_messages() {
                                jQuery(".django-message").hide("fast");
                            }
                            setTimeout("hide_messages()", 1000 * 3);
                        </script>
                    </div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div id="footer-inner">
        &copy; 2013 <a href="http://yeti.albascout.ro">yeti</a>. Gata oricând! - Versiunea <a
            href="{{ REDMINE_VERSION_URL }}"><i class="icon-cogs"></i> {{ MAJOR_VERSION }}.{{ MINOR_VERSION }}</a> - <a
            href="{% url "issues"  %}"><i class="icon-exclamation-sign"></i> Ai dat de o problemă?</a></a>
    </div>
</div>

{% block extrajs %}
{% endblock %}
		<script type = "text/javascript">
{#			$("document").ready(function () {#}
{#				$("#menu").css({"height" : $("#content-wrapper").height()});#}
{#				$("#content").css({"height" : $("#content-wrapper").height()})#}
{#				$("#content-wrapper").resize(function () {#}
{#					$("#menu").css({"height" : $("#content-wrapper").height()});#}
{#					$("#content").css({"height" : $("#content-wrapper").height()})#}
{#				});#}
{#			});#}
		</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-23160397-2', 'albascout.ro');
    ga('send', 'pageview');

</script>
</body>
</html>