{% extends 'base.html' %}

{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Acțiuni</li>
		<li><a href = "{% url "create_issue"  %}"><i class = "icon-plus"></i> Raportează o problemă</a></li>
	</ul>
{% endblock %}

{% block page_title %}
	Probleme și feature-uri 
	<div class = "btn-toolbar pull-right">
		<div class = "btn-group">
			<a href = "{% url "issues"  %}?tracker=1{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}" class = "btn {% if request.GET.tracker = '1' %}disabled{% endif %}"><i class = "icon-exclamation-sign"></i></a>
			<a href = "{% url "issues"  %}?tracker=2{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}" class = "btn {% if request.GET.tracker = '2' %}disabled{% endif %}"><i class = "icon-sitemap"></i></a>
			<a href = "{% url "issues"  %}{% if request.GET.status %}?status={{ request.GET.status }}{% endif %}" class = "btn {% if not request.GET.tracker %}disabled{% endif %}"><i class = "icon-asterisk"></i></a>
		</div>
		
		<div class = "btn-group">
			<a href = "{% url "issues"  %}?status=open{% if request.GET.tracker %}&tracker={{ request.GET.tracker }}{% endif %}" class = "btn {% if request.GET.status = 'open' %}disabled{% endif %}">deschise</a>
			<a href = "{% url "issues"  %}?status=closed{% if request.GET.tracker %}&tracker={{ request.GET.tracker }}{% endif %}" class = "btn {% if not request.GET.status or request.GET.status = 'closed' %}disabled{% endif %}">închise</a>
			<a href = "{% url "issues"  %}?status=*{% if request.GET.tracker %}&tracker={{ request.GET.tracker }}{% endif %}" class = "btn {% if request.GET.status = '*' %}disabled{% endif %}">toate</a>
		</div>
	</div>
{% endblock %}

{% block content %}
		<div class = "alert alert-info">Afișez ultimele 50 de probleme / funcționalități. <i class = "icon-exclamation-sign"></i> este un Bug (o problemă cu ceva existent), <i class = "icon-sitemap"></i> este un Feature (o funcționalitate nouă)</div>
		<!-- <div class = "alert">Lucrăm la un sistem mai potrivit de raportare a problemelor. Până atunci, trimiteți o descriere cât mai completă, împreună cu screenshot-uri și cu descrierea acțiunii pe care o încercați când "o crăpat", la <a href = "mailto:andrei.avram@scout.ro"><i class = 'icon-envelope'></i> andrei.avram@scout.ro</a></div> -->
		<table class = "table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>Titlu</th>
					<th>Dev</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
			{% for issue in issues.issues %}
				<tr>
					
						<td>#{{ issue.id }}</td>
						<td>{% if issue.tracker.name == 'Feature' %}<i class = "icon-sitemap"></i>{% endif %}{% if issue.tracker.name == 'Bug' %}<i class = "icon-exclamation-sign"></i>{% endif %}</td>
						<td class = "span3">{{ issue.updated_on|date:'j F Y' }}</td>
						<td><strong> {% if issue.category %}{{ issue.category.name }}: {% endif %}{{ issue.subject }}</strong>{% if issue.subject != issue.description %}<br /><span style = "font-size:10px;">{{ issue.description }}</span>{% endif %}</td>
						<td class = "span2">{{ issue.assigned_to.name }}</td>
						<td class = "span2"><span class = "label 
						{% if issue.status.name = 'Closed' %}label-success{% endif %}
						{% if issue.status.name = 'In progress' %}label-warning{% endif %}
						{% if issue.status.name = 'New' %}label-important{% endif %}
						">{{ issue.status.name }}</span></td>	
					 
				</tr>
				{% endfor %}
			</tbody>
		</table>
{% endblock %}
