{% extends "base.html" %}
{% load pagination_tags %}
{% load static %}

{% block page_title %}
    Arhiva de badge-uri
{% endblock %}

{% block context_menu %}
    {% include 'badge/badge_top_menu.html' %}
{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% url "goodies:js_delete" app_label='badge' model='Badge' %}"></script>
{% endblock %}


{% block content %}
    <div class = "row-fluid">
        {% autopaginate object_list 12 %}
        {% for badge in object_list %}
            <div class = "span4">
                <div class = "thumbnail"><a href = "{% url "badge:badge_detail"  pk=badge.id %}">
                    {% if badge.poza_badge %}
                        <img src = "{{ badge.poza_badge.get_large_url }}" />
                    {% else %}
                        <img src = "{% static "badge/img/badge_default.jpg" %}">
                    {% endif %}
                    </a>
                    <h1><a href = "{% url "badge:badge_detail"  pk=badge.id %}">{{ badge.nume }}, {{ badge.data_productie|date:"Y" }}</a><br><small>{{ badge.get_tip_display }}</small></h1>
                    {% if badge.descriere %}{{ badge.descriere|truncatewords:25|linebreaks }}{% endif %}
                    <strong>Tiraj: </strong> {% if not badge.tiraj_exact %}aproximativ{% endif %} {{ badge.tiraj }}<br />
                    <strong>Credit: </strong> {% if badge.designer_membru %}
                                {% with badge.designer_membru as cercetas %}
                                <span>{% for mbadge in cercetas.get_badges_rdv %}<img src = "{{ STATIC_URL }}images/icon-{{ mbadge }}.png" />{% endfor %}
                                    <a href = "{% url "structuri:membru_detail"  pk=cercetas.id %}">{{ cercetas }}</a>
                                </span>{% endwith %}{% else %}{{ badge.designer }}{% endif %}{% if badge.producator %} / {{ badge.producator }}{% endif %}
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                </div><div style="margin-top: 10px;" class = "row-fluid">
            {% endif %}
        {% empty %}
            <div class = "alert alert-info">Nu există badge-uri.</div>
        {% endfor %}


    </div>
    {% paginate_bs2 %}
{% endblock %}