{% extends 'base.html' %}

{% block page_title %}
	Centre Locale
{% endblock %}

{% block extrahead %}

{% endblock %}

{% block context_menu %}

{% endblock %}


{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Valoare</th>
			<th>Valoare procesata</th>
			<th>Eroare</th>
            <th>Cod</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for object in object_list %}
		    <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ object.valoare }}</td>
                <td>{{ object.process_adresa.0 }}</td>
                <td style="color: #F00">{% if object.process_adresa.1 %}{{ object.process_adresa.1 }}{% endif %}</td>
                <td>{% if object.get_cod_postal %}{{ object.get_cod_postal }}{% endif %}</td>
                <th><a href = "{% url structuri:membru_detail pk=object.content_object.id %}">{{ object.content_object }}</a></th>
                <td>&nbsp;</td>
		    </tr>
		{% empty %}
		<tr>
			<td>&nbsp;</td>
			<td><em>Nu există adrese.</em></td>
			<td>&nbsp;</td>
            <td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		{% endfor %}
	</tbody>

</table>
{% endblock %}