<a class = "btn btn-primary" href = "{% url structuri:cl_unitate_add pk=centru_local.id %}"><i class = "icon-plus-sign icon-white"></i> Adaugă unitate</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Nume</th>
			<th>Ramura de vârstă</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for unitate in object_list %}
		<tr id = "row_{{ object.id }}">
			<td>{{ forloop.counter }}</td>
			<td><a href = "{% url structuri:unitate_detail pk=unitate.id %}">{{ unitate.nume }}</a></td>
			<td>{{ unitate.ramura_de_varsta }}</td>
			<td>
			    
				<div class="btn-group pull-right">
				    <a class = "btn btn-mini" href = "{% url structuri:unitate_edit pk=unitate.id %}"><i class = "icon-pencil"></i></a>
				    <a href = "{% url structuri:unitate_delete pk=unitate.id %}" class = "btn btn-mini" id = "delete_{{ unitate.id }}"><i class = "icon-trash"></i></a>
			    </div>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td>&nbsp;</td>
			<td><em>Nu există unitati. Adăugați una noua <a href = "{% url structuri:cl_unitate_add pk=centru_local.id %}">aici</a>.</em></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		{% endfor %}
	</tbody>

</table>