{% extends 'base.html' %}
{% load tab_tags %}
{% load pagination_tags %}

{% block page_title %}
	Membri

    <div class = "btn-toolbar pull-right">
        <div class = "btn-group">
			<form class = "from-inline" style = "margin-bottom: 0;">
  				<input type="text" name = "q" class = "search-query" {% if request.GET.q %}value='{{ request.GET.q }}'{% endif %} placeholder="Caută în membri">
			</form>
		</div>

        <div class = "btn-group">
			<a href = "#" class = "btn disabled">Filtru</a>
			<a href = "{% url structuri:cl_membri pk=object.id %}?rdv=lupisori" data-title = "Lupișori" class = "{% if request.GET.rdv == 'lupisori' %}disabled{% endif %} btn tooltip-target"><img style = "height: 18px;" src = "{{ STATIC_URL }}images/icon-lupisori.png" /></a>
			<a href = "{% url structuri:cl_membri pk=object.id %}?rdv=temerari" data-title = "Temerari" class = "{% if request.GET.rdv == 'temerari' %}disabled{% endif %} btn tooltip-target"><img style = "height: 18px;" src = "{{ STATIC_URL }}images/icon-temerari.png" /></a>
			<a href = "{% url structuri:cl_membri pk=object.id %}?rdv=exploratori" data-title = "eXploratori" class = "{% if request.GET.rdv == 'exploratori' %}disabled{% endif %} btn tooltip-target"><img style = "height: 18px;" src = "{{ STATIC_URL }}images/icon-exploratori.png" /></a>
			<a href = "{% url structuri:cl_membri pk=object.id %}?rdv=seniori" data-title = "Seniori" class = "{% if request.GET.rdv == 'seniori' %}disabled{% endif %} btn tooltip-target"><img style = "height: 18px;" src = "{{ STATIC_URL }}images/icon-seniori.png" /></a>
			<a href = "{% url structuri:cl_membri pk=object.id %}?rdv=lideri" data-title = "Lideri" class = "{% if request.GET.rdv == 'lideri' %}disabled{% endif %} btn tooltip-target"><img style = "height: 18px;" src = "{{ STATIC_URL }}images/icon-lider.png" /></a>
			<a href = "{% url structuri:cl_membri pk=object.id %}?rdv=adulti" data-title = "Adulți" class = "btn tooltip-target"><img style = "height: 18px;" src = "{{ STATIC_URL }}images/icon-adult.png" /></a>
			<a href = "{% url structuri:cl_membri pk=object.id %}" data-title = "Toată lumea" class = "{% if not request.GET.rdv %}disabled{% endif %} btn tooltip-target">Toată lumea</a>
		</div>
        <div class = "btn-group">
            <a class = "btn disabled" href = "#"><i class = "icon-user"></i> Status</a>
            <a data-toggle="tooltip" title = "Membri activi" class = "tooltip-target btn {% if request.session.membri_activi %}disabled{% endif %}" href = "{% url structuri:cl_membri pk=object.id %}?activi={% if request.session.membri_activi == 0 %}1{% else %}0{% endif %}"><i class = "icon-ok"></i></a>
            <a data-toggle="tooltip" title = "Membri suspendati" class = "tooltip-target btn {% if request.session.membri_suspendati %}disabled{% endif %}" href = "{% url structuri:cl_membri pk=object.id %}?suspendati={% if request.session.membri_suspendati == 0 %}1{% else %}0{% endif %}"><i class = "icon-remove"></i></a>
            <a data-toggle="tooltip" title = "Membri aspiranti" class = "tooltip-target btn {% if request.session.membri_aspiranti %}disabled{% endif %}" href = "{% url structuri:cl_membri pk=object.id %}?aspiranti={% if request.session.membri_aspiranti == 0 %}1{% else %}0{% endif %}"><i class = "icon-arrow-up"></i></a>
            <a data-toggle="tooltip" title = "Membri inactivi" class = "tooltip-target btn {% if request.session.membri_inactivi %}disabled{% endif %}" href = "{% url structuri:cl_membri pk=object.id %}?inactivi={% if request.session.membri_inactivi == 0 %}1{% else %}0{% endif %}"><i class = "icon-arrow-down"></i></a>
            <a data-toggle="tooltip" title = "Membri adulti" class = "tooltip-target btn {% if request.session.membri_adulti %}disabled{% endif %}" href = "{% url structuri:cl_membri pk=object.id %}?adulti={% if request.session.membri_adulti == 0 %}1{% else %}0{% endif %}"><i class = "icon-time"></i></a>
        </div>

		<div class = "btn-group">
			<a href = "#" class = "btn disabled"><i class = "icon-user"></i> Total</a>
			<a href = "#" class = "btn">{{ object_list.count }}</a>
		</div>

	</div>
{% endblock %}

{% block extrahead %}
	{% tab_js %}
	<script type = "text/javascript">
		jQuery(document).ready(function () {
			jQuery(".tooltip-target").tooltip();
		});
	</script>
{% endblock %}

{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Locații</li>
{#		<li><a href = "{% url structuri:cl_detail pk=object.id %}"><i class = "icon-home"></i> {{ object }}</a></li>#}
		<li><a href = "{% url structuri:cl_detail pk=object.id %}#unitati"><i class = "icon-list"></i> Unități</a></li>
		
		<li class = "nav-header">Acțiuni</li>
		<li><a href = "{% url structuri:cl_membru_add pk=object.id %}"><i class = "icon-user"></i> Adaugă membru</a></li>
		<li><a href = "{% url structuri:cl_lider_add pk=object.id %}"><i class = "icon-user"></i> Adaugă lider</a></li>
			
	</ul>
{% endblock %}



{% block content %}
	{% if request.GET.rdv %}
	<div class = "alert alert-info"><i class = "icon-search"></i> Prezint doar <em>{{ request.GET.rdv }}i</em> din {{ object }}. <a href = "{% url structuri:cl_membri pk=object.id %}"><i class = "icon-user"></i> Vezi toți membri</a></div>
	{% endif %}
	{% if request.GET.q %}
	<div class = "alert alert-info"><i class = "icon-search"></i> Prezint doar persoanele care au în nume sau prenume <em>"{{ request.GET.q }}"</em> din {{ object }}. <a href = "{% url structuri:cl_membri pk=object.id %}"><i class = "icon-user"></i> Vezi toți membri</a></div>
	{% endif %}
{#    <div class = "alert alert-warning">#}
{#        <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#        <i class = "icon-warning-sign"></i> Cotizațiile au fost strânse în proporție de#}
{#        {% with  object.grad_colectare_cotizatie_trimestrul_curent as grad %}#}
{#        <span class = "label label-{% if grad < 25 %}important{% elif grad < 90 %}warning{% else %}success{% endif %}">{{ grad|floatformat }}%</span>#}
{#        {% endwith %}#}
{#        pentru trimestrul curent și#}
{#        {% with  object.grad_colectare_cotizatie_trimestrul_anterior as grad %}#}
{#        <span class = "label label-{% if grad < 25 %}important{% elif grad < 90 %}warning{% else %}success{% endif %}">{{ grad|floatformat }}%</span>#}
{#        {% endwith %}#}
{#        pentru trimestrul trecut.#}
{#    </div>#}
    <div class = "btn-toolbar pull-right">

    </div>
	{% autopaginate object_list 10 %}	
	{% include 'structuri/centrulocal_tab_membri.html' %}
	{% paginate %}
{% endblock %}