{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_title %}
	Editează poza profil
{% endblock %}

{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Locații</li>
		<li><a href = "{% url structuri:membru_detail pk=object.id %}"><i class = "icon-user"></i> {{ object }}</a></li>
		<li><a href = "{% url structuri:cl_detail pk=object.centru_local.id %}"><i class = "icon-home"></i> {{ object.centru_local }}</a></li>
		<li class = "nav-header">Acțiuni</li>
	</ul>
{% endblock %}


{% block content %}
	<div class = "span3">
	{% if object.poza_profil %}
		<img class = "thumbnail" src = "{{ object.poza_profil.get_profile_picture_url }}" />
	{% else %}
		<img src = "{% static 'images/240x320.gif' %}" class = 'thumbnail' />
	{% endif %}
	</div>
	<div class = "span6">
		{% crispy form form.helper %}
	</div>
{% endblock %}
