{% load static %}
{% load cotizatie_tags %}

<p class = "alert alert-{{ membru.status_cotizatie_numeric|cotizatie_level }}">
    {% if membru.is_suspendat %}<strong><i class = "icon-remove"></i> SUSPENDAT</strong> | {% endif %}
    Stare cotizație: <strong>{{ membru.status_cotizatie_numeric|cotizatie_description }}</strong>.
    {% if membru.status_cotizatie_numeric > 0 %}Mai trebuie să plătești {{ membru.calculeaza_necesar_cotizatie }} RON pentru a ajunge la zi.{% endif %}
</p>

<div>
	<div class = "span3">
	{% if object.poza_profil %}
		<img class = "thumbnail" src = "{{ object.poza_profil.get_profile_picture_url }}" />
	{% else %}
		<img class = "thumbnail" src = "{% static 'images/240x320.gif' %}" />
	{% endif %}
	</div>
	<div class = "span9">
        <table class = "table table-striped">
        <tbody>
            <tr>
                <td>Nume</td>
                <td>{{ object.nume_complet }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    {% if membru.is_aspirant %}
                        <span style = "color: #6699CC"><i class = "icon-warning-sign"></i> Membru aspirant</span>
                    {% else %}
                        {% if membru.is_suspendat %}
                            <span style="color: red"><i class = "icon-remove"></i> Membru suspendat</span>
                        {% else %}
                            Membru cu drepturi depline
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td><a href = "mailto:{{ object.email }}"><i class = "icon-envelope"></i> {{ object.email }}</a></td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td>{{ object.mobil }}</td>
            </tr>
            <tr>
                <td>Adresa</td>
                <td>{{ object.adresa_postala }}</td>
            </tr>
            <tr>
                <td>Ramura de vârstă</td>
                <td><img src="{{ STATIC_URL }}images/icon-{{ object.get_ramura_de_varsta|slugify }}.png" /> {{ object.get_ramura_de_varsta }}</td>
            </tr>
            <tr>
                <td>Data nașterii</td>
                <td>{{ object.data_nasterii|date:"l, d F Y" }} / {{ object.data_nasterii|timesince }}</td>
            </tr>
            <tr>
                <td>Centrul Local</td>
                <td><a href = "{% url structuri:cl_detail pk=object.centru_local.id %}"><i class = "icon-home"></i> {{ object.centru_local }}</a></td>
            </tr>
        </tbody>
        </table>
	</div>

</div>
