{% load cotizatie_tags %}
<p class = "alert alert-{{ membru.status_cotizatie_numeric|cotizatie_level }}">Stare cotizație: <strong>{{ membru.status_cotizatie_numeric|cotizatie_description }}</strong>. {% if membru.status_cotizatie_numeric > 0 %}Mai trebuie să plătești {{ membru.calculeaza_necesar_cotizatie }} RON pentru a ajunge la zi.{% endif %}</p>
<div>
	<div class = "span3">
	{% if object.poza_profil %}
		<img class = "thumbnail" src = "{{ object.poza_profil.get_profile_picture_url }}" />
	{% else %}
		<img class = "thumbnail" src = "http://www.placehold.it/240x320/ffffff" />
	{% endif %}
	</div>
	<div class = "span7">
		<dl>
			<dt>Nume</dt>
				<dd>{{ object.nume_complet }} ({{ object.cnp }})</dd>
			<dt>E-mail</dt>
				<dd><a href = "mailto:{{ object.email }}"><i class = "icon-envelope"></i> {{ object.email }}</a></dd>
			<dt>Telefon</dt>
				<dd>{{ object.mobil }}</dd>
			<dt>Adresa</dt>
				<dd>{{ object.adresa_postala }}</dd>
			<dt>Ramura de vârstă</dt>
				<dd>{{ object.get_ramura_de_varsta }}</dd>
			<dt>Data nașterii</dt>
				<dd>{{ object.data_nasterii|date:"l, d F Y" }}</dd>
				<dd>{{ object.data_nasterii|timesince }}</dd>
			<dt>Centrul Local</dt>
				<dd>{{ object.centru_local }}</dd>
		</dl>
	</div>
</div>
