<script type="text/javascript" src="{% url generic:js_delete app_label='documente',model='AsociereDocument' %}"></script>
<div class = "btn-toolbar">
<div class = "btn-group">
	<a href="{% url documente:cotizatie_membru_add pk=object.id %}"	class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Adaugă cotizație</a>
	<a href="{% url documente:adeziune_add pk=object.id %}"	class="btn"><i class="icon-plus-sign"></i> Adaugă adeziune</a>
</div>
    <div class = "btn-group">
        <a href = "{% url structuri:membru_alte_documente pk=object.id %}" class = "btn"><i class = "icon-file-alt"></i> Adaugă alte documente</a>

    </div>
</div>
<h4>Documente</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Titlu</th>
			<th>Referință / Emis</th>
            <th>&nbsp;</th>
            <th>Detalii</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for afiliere in object_list %}
		<tr id="row_{{ object.id }}">
			<td>{{ forloop.counter }}</td>
			<td>{{ afiliere.document.titlu }}</td>
			<td>Nr. înreg: {{ afiliere.document.referinta }} <br />
                {{ afiliere.moment_asociere }}
			</td>
            <td>{% if afiliere.document.fisier %}<a href = "{{ afiliere.document.fisier.url }}"><i class = "icon-paper-clip"></i> Document</a>{% endif %}</td>
			<td>{% if afiliere.document.chitanta.chitantacotizatie %}
                    {% with afiliere.document.chitanta.chitantacotizatie as cc %}
                        {% for ptc in cc.platacotizatietrimestru_set.all %}
                            <strong>{{ ptc.suma }} RON</strong> pentru {{ ptc.trimestru }} {% if ptc.partial %}(partial){% endif %}{% if ptc.final and ptc.partial %}(final){% endif %}<br />
                        {% endfor %}
                    {% endwith %}
                {% endif %}</td>
			<td>
				<div class="btn-group pull-right">
					<a class="btn btn-mini" href="{{ afiliere.document_edit_link }}"><i class="icon-pencil"></i></a>
						<a class="btn btn-mini" id="delete_{{ afiliere.id }}" href="javascript:void()"><i class="icon-trash"></i></a>
				</div>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td>&nbsp;</td>
			<td><em>Nu există documente atașate acestui membru.</em></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		{% endfor %}
	</tbody>
</table>