{% extends 'base.html' %}
{% load tab_tags %}

{% block page_title %}
	{{ object }}
{% endblock %}

{% block extrahead %}
	{% tab_js %}
{% endblock %}

{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Locații</li>
		{% if self.object.get_centru_local %}<li><a href = "{% url structuri:cl_detail pk=object.get_centru_local.id %}"><i class = "icon-home"></i> {{ object.centru_local }}</a></li>{% endif %}
		<li class = 'nav-header'>Acțiuni</li>
		<li><a href = "{% url structuri:membru_edit pk=object.id %}"><i class = "icon-pencil"></i> Editează</a></li>
		<li><a href = "{% url structuri:membru_admin_edit_profile_picture pk=object.id %}"><i class = "icon-picture"></i> Poza profil</a></li>		
	</ul>
{% endblock %}

{% block content %}
	{% print_tabs tabs active_tab %}
{% endblock %}
