{% extends 'base.html' %}
{% load tab_tags %}

{% block page_title %}
	Patrula {{ object }}
{% endblock %}

{% block extrahead %}
	{% tab_js %}
{% endblock %}

{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Acțiuni</li>
		<li><a href = "{% url structuri:patrula_edit pk=object.id %}"><i class = "icon-pencil"></i> Modifică</a>
		<li><a href=  "{% url structuri:patrula_delete pk=object.id %}"><i class = "icon-trash"></i> Șterge</a>
		
		<li class = "nav-header">Locații</li>		
	</ul>
{% endblock %}



{% block content %}
	{% print_tabs tabs active_tab %}
{% endblock %}
