{% extends 'base.html' %}
{% load tab_tags %}

{% block page_title %}
	Patrula {{ object }}
{% endblock %}

{% block extrahead %}
	{% tab_js %}
{% endblock %}

{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Acțiuni</li>
		<li><a href = "{% url structuri:patrula_edit pk=object.id %}"><i class = "icon-pencil"></i> Modifică</a>
		<li><a href=  "{% url structuri:patrula_delete pk=object.id %}"><i class = "icon-trash"></i> Șterge</a>
        <li><a href = "{% url album:patrula_eveniment_create pk=object.id %}"><i class = "icon-picture"></i> Activitate nouă</a></li>
		
		<li class = "nav-header">Locații</li>
        <li><a href = "{% url structuri:unitate_detail pk=object.unitate.id %}"><i class = "icon-home"></i> {{ object.unitate }}</a></li>
        <li><a href = "{% url structuri:cl_detail pk=object.unitate.centru_local.id %}"><i class = "icon-home"></i> Centrul Local</a></li>
	</ul>
{% endblock %}



{% block content %}
	{% print_tabs tabs active_tab %}
{% endblock %}
