{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
	{{ request.user.get_profile.membru }} <span style = "font-weight: normal">| editare poză</span>
{% endblock %}

{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Locații</li>
        <li><a href = "{% url structuri:membru_profil %}"><i class = "icon-home"></i> Dashboard</a></li>

        <li class = "nav-header">Acțiuni</li>
        <li><a href = "{% url structuri:membru_edit_profile %}"><i class = "icon-picture"></i> Editează profilul</a></li>

	</ul>
{% endblock %}


{% block content %}
	<div class = "row">
		<div class = "span3">
			{% if object.poza_profil %}
				<img class = "thumbnail" src = "{{ object.poza_profil.get_profile_picture_url }}" />
			{% endif %}
		</div>
		<div class = "span6">
			{% crispy form form.helper %}
		</div>
	</div>
{% endblock %}
