{% if is_paginated %}
{% load i18n %}
<div class="pagination">
	<ul>
        <li {% if not page_obj.has_previous %}class = "disabled"{% endif %}><a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}">&lsaquo;&lsaquo; {% trans "înapoi" %}</a></li>
	    {% for page in pages %}
	        {% if page %}
	        <li {% if page = page_obj.number %}class="active"{% endif %}>
                <a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a>
            </li>
	        {% else %}
	            <li class = "disabled"><a href = "" class = "disabled">...</a></li>
	        {% endif %}
	       	</li>
	    {% endfor %}
	    <li>
	        <a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" {% if not page_obj.has_next %}class="disabled"{% endif %}>{% trans "înainte" %} &rsaquo;&rsaquo;</a>
	    </li>
    </ul>
</div>
{% endif %}