{% extends 'base.html'%}

{% block content %}
	<div class = 'row'>
	<div class = 'span4'>
		<img src = "{{ STATIC_URL }}images/bufnita.png" />
	</div>
	<div class = "span6">
		<p>{% if user.is_authenticated %}Bine ai revenit, {{ user.get_profile.prenume }}.{% endif %} Nu uita că varianta de software pe care lucrezi este una de test, uite câteva modificări realizate în ultima vreme:</p>
		<ul>
			{% for issue in issues.issues %}
				<li><strong>{% if issue.tracker.name == 'Feature' %}<i class = "icon-sitemap"></i>{% endif %}{% if issue.tracker.name == 'Bug' %}<i class = "icon-exclamation-sign"></i>{% endif %} {% if issue.category %}{{ issue.category.name }}: {% endif %}{{ issue.subject }}</strong> - {{ issue.author.name }}, {{ issue.updated_on|date:'l, j F Y' }}: {% if issue.subject != issue.description %}<br /><span style = "font-size:10px;">{{ issue.description }}</span>{% endif %}</li>
			{% endfor %} 
		</ul>
		<a class = "btn btn-primary" href = "{% url issues %}"><i class = "icon-list icon-white"></i> Vezi mai multe</a>
		<br /><br /><br />
		<p>Este normal să întâmpini probleme, și cel mai rapid mod de a rezolva problemele este să le raportați la <a href = "mailto:andrei.avram@scout.ro"><i class = "icon-envelope"></i> andrei.avram@scout.ro</a>, 
		cu o descriere cât mai completă. </p>
	</div>
	</div>
{% endblock %}
