{% load static %}
{% block content %}
	<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Nume</th>
            <th>&nbsp;</th>
			<th>Restanță</th>
            <th></th>


			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for object in object_list %}
		<tr id = "row_{{ object.id }}">
            <td>
                <img class = "thumbnail" src = "{% if object.membru.poza_profil %}{{ object.membru.poza_profil.get_profil_mic_url }}{% else %}{% static 'images/50x50.gif' %}{% endif %}" />
            </td>
			<td>
                <a href = "{% url "structuri:membru_detail"  pk=object.membru.id %}" {% if object.membru.is_suspendat %}style="text-decoration: line-through"{% endif %}{% if object.membru.is_inactiv %}style="color: #666"{% endif %}>{{ object.membru }}</a>
                {% for badge in object.membru.get_extra_badges %}<img src = "{% get_static_prefix %}images/icon-{{ badge }}.png" />{% endfor %}
                {% if request.user.utilizator.membru.is_membru_ccl %}<br /><span style = "font-size: 10px">{{ object.membru.cnp }}</span>{% endif %}<br>
                            {% for badge in object.membru.get_badges_rdv %}
				<img src = "{% get_static_prefix %}images/icon-{{ badge }}.png" />
				{% endfor %}

                <img src = "{% static "images/bufnita.png" %}" style="width: 14px; height: 14px"> #{{ object.membru.id }}

            </td>
            <td>
                {% with object.membru.status_cotizatie_numeric as status %}
                    {% if status <= 0 %}
                        <i class = "icon-ok" style = "color:green"></i>
                    {% else %}
                        {% if status > 1 %}
                            <i class = "icon-remove" style = "color:red"></i>
                         {% else %}
                            <i class = "icon-warning-sign" style="color:#ffaf24"></i>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </td>
            <td>
                {% with object.membru.status_cotizatie_numeric as status %}
                    {% if status <= 0 %}
                        La zi
                    {% else %}
                        {% if status > 1 %}
                            <span style = "color: red">{{ object.membru.calculeaza_necesar_cotizatie }} RON</span>
                         {% else %}
                            <span style = "color:#ffaf24">{{ object.membru.calculeaza_necesar_cotizatie }} RON</span>
                        {% endif %}<br>
                        {% with object.membru.get_most_recent_fee_payment as cc %}
                            <small><strong>Ultima plată: </strong><a href="{% url "structuri:membru_detail" pk=object.membru.id %}#documente">{{ cc.suma }} RON</a> înregistrată pe {{ cc.data_inregistrare|date:"d F Y" }} de {{ cc.casier }} prin {{ cc.get_tip_display }}</small>
                        {% endwith %}
                    {% endif %}
                {% endwith %}
            </td>

            <td>
                {% if object.membru.is_adult %}
                    <i style = "color:#336699" class = "icon-certificate"></i>
                {% endif %}
                {% if object.membru.is_inactiv %}
                    <i style = "color: #333333" class = "icon-arrow-down"></i>
                {% endif %}
                {% if object.membru.is_aspirant %}
                    <i style = "color: #ffaf24" class  ="icon-warning-sign"></i>
                {% endif %}
                {% if object.membru.is_suspendat %}
                    <i style = "color: red" class = "icon-exclamation-sign"></i>
                {% endif %}
            </td>
			<td>
                <a class="btn btn-small" href="{% url "documente:cotizatie_membru_add" pk=object.membru.id %}"><i class="icon-plus"></i></a>
            </td>
		</tr>
		{% empty %}
		<tr>
			<td>&nbsp;</td>
			<td colspan="7"><em>Nu sunt înregistrați membri. Adăugați un membru nou <a href = "">aici</a>.</em></td>

		</tr>
		{% endfor %}
	</tbody>

</table>
{% endblock %}

{% block extrajs %}
    <script>
    $("document").ready(function () {
        $(".popover_target").popover();
    })
    </script>
{% endblock %}
