<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Nume</th>
			<th>Unitate</th>
			<th>Data nașterii</th>
			<th>Moment înscriere</th>
			<th>Email</th>
			<th>Telefon</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for object in object_list %}
		<tr id = "row_{{ object.id }}">
			<td>{{ forloop.counter }}</td>
			<td>{{ object.nume_complet }}</td>
			<td>{{ object.get_unitate }}</td>
			<td>{{ object.data_nasterii|date:"d F Y" }} ({{ object.data_nasterii|timesince }})</td>
			<td>{{ object.timestamp_confirmed|timesince }}</td>
			<td>{{ object.email }}</td>
			<td>{{ object.telefon }}</td>
			<td>    
				<div class="btn-group">
					<a class = "btn" href = "{% url "structuri:membru_confirm_admin"  pk=object.id %}"><i class = "icon-edit"></i></a>
			    </div>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td>&nbsp;</td>
			<td><em>Nu există membri în așteptare.</em></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		{% endfor %}
	</tbody>

</table>
