{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
	{% if object %}Modifică {{ object }}{% else %}Adaugă centru local{% endif %}
{% endblock %}


{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Locații</li>
		{% if object %}
		<li><a href = "{% url "structuri:cl_detail"  pk=object.id %}"><i class = "icon-home"></i> {{ object }}</a></li>
		{% endif %}
		{% if user.is_staff %}
		<li><a href = "{% url "structuri:cl_list"  %}"><i class = "icon-list"></i> Centre Locale</a>
		{% endif %}
	</ul>
{% endblock %}


{% block content %}
	{% crispy form form.helper %}
{% endblock %}
