    <div class = "alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class = "icon-warning-sign"></i> Cotizațiile au fost strânse în proporție de
        {% with  object.grad_colectare_cotizatie_trimestrul_curent as grad %}
        <span class = "label label-{% if grad < 25 %}important{% elif grad < 90 %}warning{% else %}success{% endif %}">{{ grad|floatformat }}%</span>
        {% endwith %}
        pentru trimestrul curent și
        {% with  object.grad_colectare_cotizatie_trimestrul_anterior as grad %}
        <span class = "label label-{% if grad < 25 %}important{% elif grad < 90 %}warning{% else %}success{% endif %}">{{ grad|floatformat }}%</span>
        {% endwith %}
        pentru trimestrul trecut.
    </div>



<table class = "table table-striped">
	<thead>
		<tr>
			<th>Titlu</th>
			<th>Valoare</th>
		</tr>
	</thead>
		<tr>
			<td>Cercetași activi</td>
			<td>{{ object.cercetasi|length }}</td>
		</tr>
		<tr>
			<td>Preferințe corespondență</td>
			<td>{{ object.get_preferinte_corespondenta_display }}</td>
		</tr>
        <tr>
            <td>Moment început cotizație</td>
            <td>{{ object.moment_initial_cotizatie }}</td>
        </tr>
        {% if object.antet %}
		<tr>
            <td>Antet</td>
            <td><i class = "icon-ok"></i> <a href = "{{ object.antet.url }}"><i class = "icon-file"></i> Antet ({{ object.antet.size|filesizeformat }})</a></td>
		</tr>
        {% endif %}
	<tbody>
	</tbody>
</table>
{% if membri_spre_aprobare|length %}
<h3>Membri spre aprobare</h3>
{% with membri_spre_aprobare|slice:":5" as object_list %}
	{% include 'structuri/centrulocal_membri_pending_headless.html' %}
{% endwith %}
{% endif %}

