<script type="text/javascript" src="{% url "goodies:js_delete" app_label='certificari' model='Certificate' %}"></script>

{% if request.user.utilizator.membru.is_membru_ccl %}
    <div class="btn-group">
        <a href="{% url "certificari:membru_add_certificate" pk=object.id %}" class="btn btn-primary"><i
                class="icon-plus-sign icon-white"></i> Adaugă certificat</a>
    </div>
{% endif %}

<h4>Certificări</h4>
{% with valide as object_list %}
    {% include 'certificari/certificate_table.html' %}
{% endwith %}

{% if expirate.exists %}
<h4>Certificări expirate</h4>
    {% with expirate as object_list %}
        {% include 'certificari/certificate_table.html' %}
    {% endwith %}
{% endif %}
