{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_title %}
	{% if object %}Modifică {{ object }}{% else %}Adaugă {% if tip %}{{ tip }}{% else %}membru{% endif %}{% endif %}
{% endblock %}

{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Locații</li>
		{% if not object %}
		<li><a href = "{% url "structuri:cl_detail"  pk=centru_local.id %}"><i class = "icon-home"></i> {{ centru_local }}</a></li>
		{% else %}
		<li><a href = "{% url "structuri:cl_detail"  pk=object.get_centru_local.id %}"><i class = "icon-home"></i> {{ object.get_centru_local }}</a></li>
		<li><a href = "{% url "structuri:membru_detail"  pk=object.id %}"><i class = "icon-user"></i> {{ object }}</a></li>
		{% endif %}
		
		{% if unitate %}
		<li><a href=  "{% url "structuri:unitate_detail"  pk=unitate.id %}"><i class = "icon-book"></i> {{ unitate }}</a></li>
		{% endif %}
	</ul>
{% endblock %}

{% block extrahead %}
	<link type = "text/css" href = "{% static 'css/datepicker.css' %}" rel = "stylesheet"/>
	<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap-datepicker-activate.js' %}"></script>
{% endblock %}

{% block content %}
	{% if tip == 'lider' %}
		<div class = "alert alert-info"><i class = "icon-exclamation-sign"></i>
			La salvare va fi creat un cont de utilizator pentru această persoană, cu adresa de email pe post de username și cu o parolă generată automat. 
			Parola va fi comunicată liderului prin email, sau poate fi resetată prin mecanismul standard de resetare al parolei.
		</div>
	{% endif %}
	{% crispy form form.helper %}
{% endblock %}
