{% load static %}
{% load cotizatie_tags %}

<p class = "alert alert-{{ membru.status_cotizatie_numeric|cotizatie_level }}">
    {% if membru.is_suspendat %}<strong><i class = "icon-remove"></i> SUSPENDAT</strong> | {% endif %}
    Stare cotizație: <strong>{{ membru.status_cotizatie_numeric|cotizatie_description }}</strong>.
    {% if membru.status_cotizatie_numeric > 0 %}Mai trebuie să plătești {{ membru.calculeaza_necesar_cotizatie }} RON pentru a ajunge la zi.{% endif %}
</p>

<div>
	<div class = "span3">
	{% if object.poza_profil %}
		<img class = "thumbnail" src = "{{ object.poza_profil.get_profile_picture_url }}" />
	{% else %}
		<img class = "thumbnail" src = "{% static 'images/240x320.gif' %}" />
	{% endif %}
	</div>
	<div class = "span9">
        <table class = "table table-striped">
        <tbody>
            <tr>
                <td>Nume</td>
                <td>{{ object.nume_complet }}{% if request.user.utilizator.membru.is_membru_ccl %}<br /><span style = "font-size: 10px">{{ object.membru.cnp }}</span>{% endif %}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>
                    {% if object.is_aspirant %}
                        <span style = "color: #6699CC"><i class = "icon-warning-sign"></i> Membru aspirant</span>
                    {% else %}
                        {% if object.is_suspendat %}
                            <span style="color: red"><i class = "icon-remove"></i> Membru suspendat</span>
                        {% else %}
                            {% if object.is_alumnus %}
                                Membru alumnus
                            {% else %}
                                Membru cu drepturi depline
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td><a href = "mailto:{{ object.email }}"><i class = "icon-envelope"></i> {{ object.email }}</a></td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td>{{ object.mobil }}</td>
            </tr>
            <tr>
                <td>Adresa</td>
                <td>{{ object.adresa_postala }}</td>
            </tr>
            <tr>
                <td>Ramura de vârstă</td>
                <td>
                    {% if object.is_alumnus %}
                        Alumnus
                    {% elif object.is_adult %}
                        Adult
                    {% else %}
                        <img src="{% get_static_prefix %}images/icon-{{ object.get_ramura_de_varsta|slugify }}.png" /> {{ object.get_ramura_de_varsta }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Data nașterii</td>
                <td>{{ object.data_nasterii|date:"l, d F Y" }} / {{ object.data_nasterii|timesince }}</td>
            </tr>
            <tr>
                <td>Centrul Local</td>
                <td><a href = "{% url "structuri:cl_detail"  pk=object.centru_local.id %}"><i class = "icon-home"></i> {{ object.centru_local }}</a></td>
            </tr>
            {% if object.scout_id %}
            <tr>
                <td>ONCR ID</td>
                <td>
                    <a href = "https://www.oncr.ro/{{ object.scout_id }}"><img src = "{% static "images/oncr3.jpg" %}" style="width: 16px; height: 16px"> {{ object.scout_id }}</a>
                    {% if object.membru.oncr_status %} {% if object.membru.oncr_status.0 %}<i class = "icon-ok"></i>{% else %}<i class = "icon-remove"></i>{% endif %}  - <strong>{{ membru.oncr_status.1 }}</strong>{% else %}<i class = 'icon-question'></i>{% endif %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>Nivel încredere (credit)                     <a title = "Nivelul de încredere este folosit pentru a determina dacă Centrul Local va 'pune bani de la el' temporar pentru a
                                plăti diferite lucruri (taxă de participare, cazare, transport) pentru tine, dacă nu ai reușit să plătești încă.
                                Toată lumea pleacă de la 'bun' și poate scădea doar dacă se retrage dintr-o acțiune pentru care Centrul a consumat deja bani pe care nu îi mai poate recupera."><i class = "icon-question-sign"></i></a></td>
                <td><span class = "label
                    {% if object.membru.scor_credit == 0 %}label-important
                    {% elif object.membru.scor_credit == 1 %}label-warning
                    {% elif object.membru.scor_credit == 2 %}label-success
                    {% endif %}">{{ object.membru.get_scor_credit_display }}</span>
                </td>
            </tr>
            {% if object.certificari.count %}
            <tr>
                <td>Certificări</td>
                <td>
                    <ul class="unstyled">
                        {% for c in object.certificari.all %}
                            {% if c.document and c.document.fisier %}
                                <li><strong><a href="{{ c.document.fisier.url }}">{{ c.certificate_type }}</a></strong> începând cu {{ c.issued_on|date:'d.m.Y' }} emis de {{ c.issued_by }}</li>
                            {% else %}
                                <li><strong>{{ c.certificate_type }}</strong> începând cu {{ c.issued_on|date:'d.m.Y' }} emis de {{ c.issued_by }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endif %}
            {% if object.cont_bancar %}
            <tr>
                <td>Cont bancar</td>
                <td>{{ object.cont_bancar }}</td>
            </tr>
            {% endif %}
        </tbody>
        </table>
	</div>

</div>
