<script type = "text/javascript" src = "{% url "goodies:js_delete" app_label='structuri' model='InformatieContact' %}"></script>
	<a class = "btn btn-primary" href = "{% url "structuri:membru_contact_add"  pk=object.id %}"><i class = "icon-plus-sign"></i> Adaugă informații contact</a>
	<br /><br />
	<table class="table table-striped">
	<tbody>
		{% for object in object_list %}
		<tr id = "row_{{ object.id }}">
			<td>{{ object.tip_informatie.nume }}</td>
			<td>
				{% if object.tip_informatie.template_name %}
					{% include 'structuri/info/'|add:object.tip_informatie.template_name %}
				{% else %}
					{{ object.valoare }}{% if object.informatii_suplimentare %}<br /><span style = "font-size: 10px;">{{ object.informatii_suplimentare }}</span>{% endif %}
				{% endif %}
			</td>
            <td>
                Ultima actualizare acum <strong>{{ object.data_start|timesince }}</strong><br/> <small>{{ object.data_start|date:"j F Y" }}</small>
            </td>
			<td>
				<div class = "btn-toolbar pull-right">
				{% if object.tip_informatie.is_sms_capable %}
				<div class = "btn-group">
					<a href = "{% url "patrocle:send_sms"  %}?destinatar={{ object.valoare }}" class = "btn btn-mini"><i class = "icon-phone"></i></a>
				</div>
				{% endif %}    
				<div class="btn-group">
					<a href = "{% url "structuri:membru_contact_edit"  pk=object.id %}" class = "btn btn-mini"><i class = "icon-pencil"></i></a>
					<a href = "" id = "delete_{{ object.id }}" class = "btn btn-mini"><i class = "icon-trash"></i></a>
			    </div>
			    </div>
			    
			</td>
		</tr>
		{% empty %}
		<tr>
			<td>&nbsp;</td>
			<td><em>Nu există informații de contact. Adaugă unele de <a href = "{% url "structuri:membru_contact_add"  pk=object.id %}">aici</a>.</em></td>
			<td>&nbsp;</td>
            <td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		{% endfor %}
	</tbody>

</table>
