{% load static %}
<a class = "btn btn-primary" href = "{% url "structuri:unitate_patrula_add"  pk=unitate.id %}"><i class = "icon-plus-sign icon-white"></i> Adaugă patrulă</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Nume</th>
            <td>Cercetași</td>
            <td>Lideri</td>
            <td>Cotizații</td>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for object in object_list %}
		<tr id = "row_{{ object.id }}">
			<td>{{ forloop.counter }}</td>
			<td><a href = "{% url "structuri:patrula_detail"  pk=object.id %}">{{ object }}</a></td>
            <td>
                <ul class="unstyled">
                    {% for cercetas in object.cercetasi %}
                        <li>{% for badge in cercetas.get_badges_rdv %} <img src = "{% get_static_prefix %}images/icon-{{ badge }}.png" />{% endfor %}
                            {% for badge in cercetas.get_extra_badges %} <img src = "{% get_static_prefix %}images/icon-{{ badge }}.png" />{% endfor %}
                            <a href = "{% url "structuri:membru_detail"  pk=cercetas.id %}">{{ cercetas }}</a></li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul class="unstyled">
                    {% for cercetas in object.lideri %}
                        <li>{% for badge in cercetas.get_badges_rdv %} <img src = "{% get_static_prefix %}images/icon-{{ badge }}.png" />{% endfor %}
                            {% for badge in cercetas.get_extra_badges %} <img src = "{% get_static_prefix %}images/icon-{{ badge }}.png" />{% endfor %}
                            <a href = "{% url "structuri:membru_detail"  pk=cercetas.id %}">{{ cercetas }}</a></li>
                    {% endfor %}
                </ul>
            </td>
          <td>
        Trimestrul curent:
                {% with  object.grad_colectare_cotizatie_trimestrul_curent as grad %}
        <span class = "label label-{% if grad < 25 %}important{% elif grad < 90 %}warning{% else %}success{% endif %}">{{ grad|floatformat }}%</span>
        {% endwith %}
            <br />
        Trimestrul anterior: {% with  object.grad_colectare_cotizatie_trimestrul_anterior as grad %}
        <span class = "label label-{% if grad < 25 %}important{% elif grad < 90 %}warning{% else %}success{% endif %}">{{ grad|floatformat }}%</span>
        {% endwith %}



            </td>
			<td>    
				<div class="btn-group pull-right">
				    <a class = "btn btn-mini" href = "{% url "structuri:patrula_edit"  pk=object.id %}"><i class = "icon-pencil"></i></a>
				    <a href = "{% url "structuri:patrula_delete"  pk=object.id %}" class = "btn btn-mini" id = "delete_{{ object.id }}"><i class = "icon-trash"></i></a>
			    </div>
			</td>
		</tr>
		{% empty %}
		<tr>
			<td>&nbsp;</td>
			<td colspan="4"><em>Unitatea nu are patrule active. Adăugați una noua de <a href = "{% url "structuri:unitate_patrula_add"  pk=unitate.id %}"><i class = "icon-plus-sign"></i> aici</a>.</em></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
