{% extends 'base.html' %}

{% block page_title %}
	Confirmare înregistrare
{% endblock %}

{% block content %}
	{% if msg == "doesnotexist" %}
		<div class = "alert alert-error">Codul trimis de tine nu exista. Te rugam sa te asiguri ca link-ul din email nu a fost impartit de clientul tau de email pe mai multe linii.</div>
	{% endif %}
	{% if msg == "otherproblem" %}
		<div class = "alert alert-error">A apărut o problema la confirmarea contului tău. Echipa noastră a fost notificată și lucrează deja la rezolvarea problemei. Te rugăm să revii mai târziu</div>
	{% endif %}
	{% if msg == "alreadyconfirmed" %}
		<div class = "alert alert-info">Contul tău este deja confirmat din email. {% if membru.accepted_timestamp %}Poți să te autentifici <a href = "{% url "login"  %}"><i class = "icon-lock"></i> aici</a>.{% else %} Contul tău așteaptă acum confirmarea corectitudinii lui de la un lider.{% endif %}</div>
	{% endif %}
	{% if msg == "confirmed" %}
		<div class = "alert alert-success">Contul tău a fost confirmat! Urmează acum ca el să fie validat de un lider din centrul tău local.</div>
	{% endif %}
{% endblock %}