{% extends "pages/base_pages.html" %}

{% load wagtailcore_tags %}

{% block body_class %}homepage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <nav aria-label="breadcrumb">
    {% if self.get_ancestors|length > 1 %}
      <ol class="breadcrumb">
            {% for p in self.get_ancestors %}
                {% if p.is_root == False %}
                    <li class = "breadcrumb-item"><a href="{{ p.url }}">{{ p.title }}</a></li>
                {% endif %}
            {% endfor %}

            <li class="breadcrumb-item active">{{ self.title }}</li>
        </ol>
    {% endif %}
    </nav>

    <p>Author: <strong>{{ page.owner }}</strong>. Last edited on {{ page.last_published_at|date }}</p>


    {{ page.body|richtext }}



    {% if page.tags.count %}
        <h1>Tags:</h1>
        {% for tag in page.tags.all %}
            {# Loop through all the existing tags #}
            <a href="{{ self.get_parent.url }}?tag={{ tag.slug }}">{{ tag }}</a><br />
        {% endfor %}
    {% endif %}
{% endblock %}
