{% extends 'base.html' %}

{% block page_title %}
    Decizie de stabilire a cuantumului cotizației
{% endblock %}

{% block extrahead %}
{% endblock %}


{% block context_menu %}
    <ul class="nav nav-list">
        <li class="nav-header">Acțiuni</li>
        <li><a href = "{% url documente:registru_detail pk=object.registru.id %}"><i class = "icon-book"></i> Înapoi la {{ object.registru.get_tip_registru_display|lower }}</a></li>
    </ul>
{% endblock %}

{% block content %}
    <ul>
    <li><strong>Categorie: </strong> {{ object.get_categorie_display }}</li>
    <li><strong>Perioada aplicare: </strong> {{ object.data_inceput|date:"d.m.Y"}} - {% if object.data_sfarsit %}{{ object.data_sfarsit|date:"d.m.Y" }}{% else %}<em>în vigoare acum</em>{% endif %}</li>
    <li><strong>Cuantum: </strong> {{ object.cuantum }} RON / an</li>
    </ul>
{% endblock %}