{% extends 'base.html' %}
{% load pagination_tags %}

{% block page_title %}
	{% if folder %}{{ folder }}{% else %}/{% endif %}
{% endblock %}

{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Acțiuni</li>
		<li><i class = "icon-folder-close">Adaugă foldernu ma</i>
	</ul>
{% endblock %}

{% block content %}
	<table class = "table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>Nume</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{% for object in object_list %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ object }}</td>
					<td>
						<div class = "pull-right btn-group">
							test
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
		
	
{% endblock %}