{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}
	{% if object %}Modifică {{ object.get_tip_registru_display|lower }} {{ object.serie }}{% else %}Adaugă registru{% endif %}
{% endblock %}

{% block extrahead %}
        {{ form.media }}
{% endblock %}


{% block context_menu %}
	<ul class = "nav nav-list">
		<li class = "nav-header">Acțiuni</li>
		<li><a href =  "{% url documente:registre pk=centru_local.id %}"><i class = "icon-chevron-left"> Lista de registre</i></a></li>
	</ul>
{% endblock %}

{% block content %}
	{% crispy form form.helper %}
{% endblock %}